# Project Title
### Data Engineering Capstone Project

#### Project Summary

You are part of an Analytics team and tasked up to analyze the World Development Indicators(WDI) data and find which country is the most suitable to start up a Business. 

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
import os
from IPython.display import display, HTML
import pandas as pd

#Locating where pyspark is installed
import findspark
findspark.init()
import pyspark


#Settings for PySpark to work
driver_memory = '4g'
num_executors = 2
executor_memory = '1g'
#pyspark_submit_args = ' --driver-memory ' + driver_memory + ' --executor-memory ' + executor_memory + ' --num-executors ' + num_executors + ' pyspark-shell'
pyspark_submit_args = ' --driver-memory ' + driver_memory + ' pyspark-shell'

#Setting the required parameters to start up PySpark
os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

#Import Modules Needed for PySpark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType
from pyspark.sql.types import DecimalType

### Step 1: Scope the Project and Gather Data

#### Scope 
I will be using the available data about World Development Indicators data and will be creating an ETL pipeline that will extract the data from downloaded datasets and performing initial Exploratory Data Analysis and do necessary transformations and filtering. This filtered and transformed data will be later exported as csv files for further analysis.

#### Describe and Gather Data 
For this purpose, I collected data from the following source:

World Development Indicators(WDI- Data): https://datacatalog.worldbank.org/dataset/world-development-indicators

Format: csv(comma-separated values)

Granularity: National

Number of Economies: 217

Temporal Coverage: 1960 - 2020

Release Date: June 11, 2010

Last Updated: December 16, 2020

In [2]:
def showDF(df, limitRows =  20, truncate = True):
    if(truncate):
        pd.set_option('display.max_colwidth', 50)
    else:
        pd.set_option('display.max_colwidth', None)
    pd.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pd.reset_option('display.max_rows')

In [3]:
#Creating a spark session
spark = SparkSession.builder.appName("Data Engineering Nanodegree").getOrCreate()

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

##### Reading the Country wise data(WDICountry.csv)

In [4]:
#Read the file into a Spark Data Frame
wdicountry = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/home/jovyan/work/data/WDICountry.csv")

##### Inspecting the schema we have just read

In [5]:
wdicountry.printSchema()

root
 |-- Country Code: string (nullable = true)
 |-- Short Name: string (nullable = true)
 |-- Table Name: string (nullable = true)
 |-- Long Name: string (nullable = true)
 |-- 2-alpha code: string (nullable = true)
 |-- Currency Unit: string (nullable = true)
 |-- Special Notes: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Income Group: string (nullable = true)
 |-- WB-2 code: string (nullable = true)
 |-- National accounts base year: string (nullable = true)
 |-- National accounts reference year: integer (nullable = true)
 |-- SNA price valuation: string (nullable = true)
 |-- Lending category: string (nullable = true)
 |-- Other groups: string (nullable = true)
 |-- System of National Accounts: string (nullable = true)
 |-- Alternative conversion factor: string (nullable = true)
 |-- PPP survey year: string (nullable = true)
 |-- Balance of Payments Manual in use: string (nullable = true)
 |-- External debt Reporting status: string (nullable = true)
 |-- System of trade: string (nullable = true)
 |-- Government Accounting concept: string (nullable = true)
 |-- IMF data dissemination standard: string (nullable = true)
 |-- Latest population census: string (nullable = true)
 |-- Latest household survey: string (nullable = true)
 |-- Source of most recent Income and expenditure data: string (nullable = true)
 |-- Vital registration complete: string (nullable = true)
 |-- Latest agricultural census: string (nullable = true)
 |-- Latest industrial data: integer (nullable = true)
 |-- Latest trade data: integer (nullable = true)
 |-- Latest water withdrawal data: integer (nullable = true)

##### Chekcing few sample data

In [6]:
showDF(wdicountry, truncate = False)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from official government statistics; 1994-1999 from UN databases. Base year has changed from 1995 to 2000.,Latin America & Caribbean,High income,AW,...,None,Enhanced General Data Dissemination System (e-GDDS),2010,None,None,Yes,None,NaN,2016.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,"Fiscal year end: March 20; reporting period for national accounts data is calendar year, estimated to insure consistency between national accounts and fiscal data. National accounts data are sourced from the IMF and differ from the Central Statistics Organization numbers due to exclusion of the opium economy.",South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2011",None,None,NaN,2016.0,2000.0
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,None,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",None,None,NaN,2016.0,2005.0
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,None,Europe & Central Asia,Upper middle income,AL,...,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),2011,"Demographic and Health Survey, 2008/09","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2012,2013.0,2016.0,2006.0
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,WB-3 code changed from ADO to AND to align with ISO code.,Europe & Central Asia,High income,AD,...,None,None,2011. Population data compiled from administrative registers.,None,None,Yes,None,NaN,NaN,NaN
5,ARB,Arab World,Arab World,Arab World,1A,None,Arab World aggregate. Arab World is composed of members of the League of Arab States.,None,None,1A,...,None,None,None,None,None,None,None,NaN,2016.0,NaN
6,ARE,United Arab Emirates,United Arab Emirates,United Arab Emirates,AE,U.A.E. dirham,None,Middle East & North Africa,High income,AE,...,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),2010,"World Health Survey, 2003",None,None,2012,1985.0,2016.0,2005.0
7,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,"National Institute of Statistics and Census revised national accounts from 2004-2015. Argentina, which was temporarily unclassified in July 2016 pending release of revised national accounts statistics, is classified as upper middle income for FY17 as of September 29, 2016.",None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
8,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,None,Europe & Central Asia,Lower middle income,AM,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2015",Yes,2014,NaN,2016.0,2012.0
9,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,New base Year 2009,East Asia & Pacific,Upper middle income,AS,...,None,None,2010,None,None,Yes,2008,NaN,2016.0,NaN
10,ATG,Antigua and Barbuda,Antigua and Barbuda,Antigua and Barbuda,AG,East Caribbean dollar,None,Latin America & Caribbean,High income,AG,...,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2011,None,None,Yes,2007,NaN,2016.0,2012.0
11,AUS,Australia,Australia,Commonwealth of Australia,AU,Australian dollar,Fiscal year end: June 30; reporting period for national accounts data: FY. Value added current series updated by the Australian Bureau of Statistics;,East Asia & Pacific,High income,AU,...,Consolidated central government,Special Data Dissemination Standard (SDDS),2016,None,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2011,2013.0,2016.0,2013.0
12,AUT,Austria,Austria,Republic of Austria,AT,Euro,"A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 13.7603 Austrian schilling. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.",Europe & Central Asia,High income,AT,...,Consolidated central government,Special Data Dissemination Standard Plus (SDDS+),2011. Population data compiled from administrative registers.,None,"Income survey (IS), 2014",Yes,2010,2014.0,2016.0,2010.0
13,AZE,Azerbaijan,Azerbaijan,Republic of Azerbaijan,AZ,New Azeri manat,None,Europe & Central Asia,Upper middle income,AZ,...,Consolidated central government,Enhanced General Data Dissemination System (e-GDDS),2009,"Demographic and Health Survey, 2006","Living Standards Measurement Study Survey (LSMS), 2012",Yes,2015,2013.0,2016.0,2012.0
14,BDI,Burundi,Burundi,Republic of Burundi,BI,Burundi franc,None,Sub-Saharan Africa,Low income,BI,...,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2008,"Demographic and Health Survey, 2016","Core Welfare Indicator Questionnaire Survey (CWIQ), 2014",None,None,2012.0,2016.0,2000.0
15,BEL,Belgium,Belgium,Kingdom of Belgium,BE,Euro,"A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 40.3399 Belgian franc. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.",Europe & Central Asia,High income,BE,...,Consolidated central government,Special Data Dissemination Standard (SDDS),"2011. Population data compiled from administrative registers in combination with other sources of data, such as a sample surveys.",None,"Income survey (IS), 2014",Yes,2010,2014.0,2016.0,2009.0
16,BEN,Benin,Benin,Republic of Benin,BJ,West African CFA franc,None,Sub-Saharan Africa,Low income,BJ,...,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2013,"Multiple Indicator Cluster Survey, 2014","Core Welfare Indicator Questionnaire Survey (CWIQ), 2015",None,None,1981.0,2016.0,2001.0
17,BFA,Burkina Faso,Burkina Faso,Burkina Faso,BF,West African CFA franc,None,Sub-Saharan Africa,Low income,BF,...,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2006,"Living Standards Measurement Study, 2014; Malaria Indicator Survey, 2014","Core Welfare Indicator Questionnaire Survey (CWIQ), 2014",None,2006-10,1983.0,2016.0,2005.0
18,BGD,Bangladesh,Bangladesh,People's Republic of Bangladesh,BD,Bangladeshi taka,Fiscal year end: June 30; reporting period for national accounts data: FY.,South Asia,Lower middle income,BD,...,Budgetary central government,Enhanced General Data Dissemination System (e-GDDS),2011,"Demographic and Health Survey, 2014","Integrated household survey (IHS), 2016",None,2008,2011.0,2016.0,2008.0
19,BGR,Bulgaria,Bulgaria,Republic of Bulgaria,BG,Bulgarian lev,None,Europe & Central Asia,Upper middle income,BG,...,Consolidated central government,Special Data Dissemination Standard Plus (SDDS+),2011,"Living Standards Measurement Study, 2007","Expenditure survey/budget survey (ES/BS), 2014",Yes,2010,2014.0,2016.0,2013.0

##### Analysing few basic stas on the data we have read

In [7]:
wdicountry.count()

263

##### Examining Country Data Dimensions

##### How many different regions the countries belong to?

In [8]:
showDF(wdicountry.select('Region').distinct(), truncate = False)

                       Region
0                  South Asia
1                        None
2          Sub-Saharan Africa
3       Europe & Central Asia
4               North America
5         East Asia & Pacific
6  Middle East & North Africa
7   Latin America & Caribbean

##### How many different income groups do we have across countries?

In [9]:
showDF(wdicountry.select('Income Group').distinct(), truncate = False)

          Income Group
0  Lower middle income
1                 None
2          High income
3  Upper middle income
4           Low income

##### Reading Series data(WDISeries.csv)

In [10]:
wdiseries = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/home/jovyan/work/data/WDISeries.csv")

In [11]:
wdiseries.printSchema()

root
 |-- Series Code: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Short definition: string (nullable = true)
 |-- Long definition: string (nullable = true)
 |-- Unit of measure: string (nullable = true)
 |-- Periodicity: string (nullable = true)
 |-- Base Period: string (nullable = true)
 |-- Other notes: string (nullable = true)
 |-- Aggregation method: string (nullable = true)
 |-- Limitations and exceptions: string (nullable = true)
 |-- Notes from original source: string (nullable = true)
 |-- General comments: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Statistical concept and methodology: string (nullable = true)
 |-- Development relevance: string (nullable = true)
 |-- Related source links: string (nullable = true)
 |-- Other web links: string (nullable = true)
 |-- Related indicators: string (nullable = true)
 |-- License Type: string (nullable = true)
 |-- _c20: string (nullable = true)

In [12]:
showDF(wdiseries)

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,_c20
0,AG.AGR.TRAC.NO,Environment: Agricultural production,"Agricultural machinery, tractors",None,Agricultural machinery refers to the number of...,None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...",A tractor provides the power and traction to m...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
1,AG.CON.FERT.PT.ZS,Environment: Agricultural production,Fertilizer consumption (% of fertilizer produc...,None,Fertilizer consumption measures the quantity o...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",None,None,None,CC BY-4.0,None
2,AG.CON.FERT.ZS,Environment: Agricultural production,Fertilizer consumption (kilograms per hectare ...,None,Fertilizer consumption measures the quantity o...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Fertilizer consumption measures the quantity o...,"Factors such as the green revolution, has led ...",None,None,None,CC BY-4.0,None
3,AG.LND.AGRI.K2,Environment: Land use,Agricultural land (sq. km),None,Agricultural land refers to the share of land ...,None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...",Agricultural land constitutes only a part of a...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
4,AG.LND.AGRI.ZS,Environment: Land use,Agricultural land (% of land area),None,Agricultural land refers to the share of land ...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Agriculture is still a major sector in many ec...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
5,AG.LND.ARBL.HA,Environment: Land use,Arable land (hectares),None,Arable land (in hectares) includes land define...,None,Annual,None,None,None,...,None,None,"Food and Agriculture Organization, electronic ...",Temporary fallow land refers to land left fall...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
6,AG.LND.ARBL.HA.PC,Environment: Land use,Arable land (hectares per person),None,Arable land (hectares per person) includes lan...,None,Annual,None,None,Weighted Average,...,None,None,"Food and Agriculture Organization, electronic ...",Temporary fallow land refers to land left fall...,Agricultural land covers about one-third of th...,None,None,None,CC BY-4.0,None
7,AG.LND.ARBL.ZS,Environment: Land use,Arable land (% of land area),None,Arable land includes land defined by the FAO a...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Temporary fallow land refers to land left fall...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
8,AG.LND.CREL.HA,Environment: Agricultural production,Land under cereal production (hectares),None,Land under cereal production refers to harvest...,None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...","Cereals production includes wheat, rice, maize...",The cultivation of cereals varies widely in di...,None,None,None,CC BY-4.0,None
9,AG.LND.CROP.ZS,Environment: Land use,Permanent cropland (% of land area),None,Permanent cropland is land cultivated with cro...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",The data on Permanent cropland and land area a...,Agricultural land covers more than one-third o...,None,None,None,CC BY-4.0,None
10,AG.LND.EL5M.RU.K2,Environment: Land use,Rural land area where elevation is below 5 met...,None,Rural land area below 5m is the total rural la...,None,Annual,None,None,Sum,...,None,None,Center for International Earth Science Informa...,Elevation data used to generate the low elevat...,None,None,None,None,CC BY-4.0,None
11,AG.LND.EL5M.RU.ZS,Environment: Land use,Rural land area where elevation is below 5 met...,None,Rural land area below 5m is the percentage of ...,None,Annual,None,None,Weighted Average,...,None,None,Center for International Earth Science Informa...,Elevation data used to generate the low elevat...,Scientists use the terms climate change and gl...,None,None,None,CC BY-4.0,None
12,AG.LND.EL5M.UR.K2,Environment: Land use,Urban land area where elevation is below 5 met...,None,Urban land area below 5m is the total urban la...,None,Annual,None,None,Sum,...,None,None,Center for International Earth Science Informa...,Elevation data used to generate the low elevat...,Scientists use the terms climate change and gl...,None,None,None,CC BY-4.0,None
13,AG.LND.EL5M.UR.ZS,Environment: Land use,Urban land area where elevation is below 5 met...,None,Urban land area below 5m is the percentage of ...,None,Annual,None,None,Weighted Average,...,None,None,Center for International Earth Science Informa...,Elevation data used to generate the low elevat...,Scientists use the terms climate change and gl...,None,None,None,CC BY-4.0,None
14,AG.LND.EL5M.ZS,Environment: Land use,Land area where elevation is below 5 meters (%...,None,Land area below 5m is the percentage of total ...,None,Annual,None,None,Weighted Average,...,None,None,Center for International Earth Science Informa...,Elevation data used to generate the low elevat...,Scientists use the terms climate change and gl...,None,None,None,CC BY-4.0,None
15,AG.LND.FRST.K2,Environment: Land use,Forest area (sq. km),None,Forest area is land under natural or planted s...,None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...",Forest is determined both by the presence of t...,"As threats to biodiversity mount, the internat...",None,None,None,CC BY-4.0,None
16,AG.LND.FRST.ZS,Environment: Land use,Forest area (% of land area),None,Forest area is land under natural or planted s...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Forest is determined both by the presence of t...,"As threats to biodiversity mount, the internat...",None,None,None,CC BY-4.0,None
17,AG.LND.IRIG.AG.ZS,Environment: Land use,Agricultural irrigated land (% of total agricu...,None,Agricultural irrigated land refers to agricult...,None,Annual,None,None,Weighted average,...,None,None,"Food and Agriculture Organization, electronic ...",Irrigated agricultural area refers to area equ...,"Worldwide, irrigated agriculture accounts for ...",None,None,None,CC BY-4.0,None
18,AG.LND.PRCP.MM,Environment: Land use,Average precipitation in depth (mm per year),None,Average precipitation is the long-term average...,None,Annual,None,None,None,...,None,None,"Food and Agriculture Organization, electronic ...",None,The agriculture sector is the most water-inten...,None,None,None,CC BY-4.0,None
19,AG.LND.TOTL.K2,Environment: Land use,Land area (sq. km),None,"Land area is a country's total area, excluding...",None,Annual,None,None,Sum,...,None,None,"Food and Agriculture Organization, electronic ...",Total land area does not include inland water ...,Land area is particularly important for unders...,None,None,None,CC BY-4.0,None

In [13]:
wdiseries.count()

1593

##### Examining Series Data Dimensions

##### What are the different periodicities or aggregation methods we might expect to see in the data ?

In [14]:
showDF(wdiseries.select('Periodicity').distinct(), truncate = False)

                                                                                                   Periodicity
0                                                                                                       Annual
1                                                                                                         None
2                                                                            Quarterly (represented as Annual)
3  International Civil Aviation Organization, Civil Aviation Statistics of the World and ICAO staff estimates.

In [15]:
showDF(wdiseries.select('Aggregation Method').distinct(), truncate = False)

                    Aggregation Method
0                                 None
1                     Weighted average
2                       Simple average
3                     Gap-filled total
4                               Median
5                   Unweighted average
6  Linear mixed-effect model estimates
7                     Weighted Average
8                                  Sum

##### Reading the World Development Indicators data(WDIData.csv)

In [16]:
# Read the data
wdiindicators = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/home/jovyan/work/data/WDIData.csv")

In [17]:
# Inspect the schema
wdiindicators.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Indicator Code: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)
 |-- 2018: double (nullable = true)
 |-- 2019: double (nullable = true)
 |-- 2020: double (nullable = true)
 |-- _c65: string (nullable = true)

In [18]:
# Look at sample records
showDF(wdiindicators)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,_c65
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN,None
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.512260,88.129881,87.275323,88.720097,89.308602,90.283638,89.286856,NaN,NaN,None
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,77.251714,78.165706,75.512153,78.211000,79.065508,81.102134,79.248100,NaN,NaN,None
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.435957,96.772853,96.466705,96.936319,97.290083,97.467915,97.063959,NaN,NaN,None
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,NaN,NaN,None
5,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.079350,NaN,NaN,25.635403,NaN,NaN,NaN,None
6,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,37.790764,NaN,NaN,48.328518,NaN,NaN,NaN,None
7,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.216583,NaN,NaN,42.542046,NaN,NaN,NaN,None
8,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.779890,NaN,NaN,27.724781,NaN,NaN,NaN,None
9,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21.278042,NaN,NaN,26.458111,NaN,NaN,NaN,None
10,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.60.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,35.237480,NaN,NaN,43.446953,NaN,NaN,NaN,None
11,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.SO.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.900612,NaN,NaN,48.666977,NaN,NaN,NaN,None
12,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.YG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21.256142,NaN,NaN,20.954800,NaN,NaN,NaN,None
13,Arab World,ARB,Adequacy of social insurance programs (% of to...,per_si_allsi.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14,Arab World,ARB,Adequacy of social protection and labor progra...,per_allsp.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
15,Arab World,ARB,Adequacy of social safety net programs (% of t...,per_sa_allsa.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
16,Arab World,ARB,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
17,Arab World,ARB,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,NaN,NaN,NaN,NaN,NaN,NaN,...,85.207140,84.218320,84.254300,84.035230,84.532580,85.143750,85.384220,NaN,NaN,None
18,Arab World,ARB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,84.118780,83.218390,83.344940,83.189960,83.820280,83.994780,84.252780,NaN,NaN,None
19,Arab World,ARB,"Adjusted net enrollment rate, primary, male (%...",SE.PRM.TENR.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,86.300590,85.225830,85.183590,84.895170,85.254640,86.288360,86.506010,NaN,NaN,None

In [19]:
# Get some basic stats
wdiindicators.count()

380160

In [1]:
from IPython.display import Image

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

##### Since the goal is data exploration, the data is normalized for query execution. Each table is given a primary key and data extracted as needed. I have built the conceptual data model based on the star schema because a star schema database has a small number of tables and clear join paths, queries run faster than they do against an OLTP system. Small single-table queries, usually of dimension tables, are almost instantaneous. Large join queries that involve multiple tables take only seconds or minutes to run. 

![alt text](datamodel.jpg "Title")

#### 3.2 Mapping Out Data Pipelines
##### Please find the below data transformation logics which will map out the data model mentioned above

#### Data Transformation Logic

#### Transform Country Data
- Select the columns that we will need for our data model
- Rename columns for data ingestion

In [20]:
wdicountryDim = wdicountry \
    .select("2-alpha code", "Country Code", "Short Name", "Long Name", "Region", "Income Group") \
    .withColumnRenamed("2-alpha code", "country_iso_code") \
    .withColumnRenamed("Country Code", "wb_country_code") \
    .withColumnRenamed("Short Name", "country_name") \
    .withColumnRenamed("Long Name", "country_long_name") \
    .withColumnRenamed("Region", "region") \
    .withColumnRenamed("Income Group", "income_group")
    
showDF(wdicountryDim)

,country_iso_code,wb_country_code,country_name,country_long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
2,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
3,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
4,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
5,1A,ARB,Arab World,Arab World,None,None
6,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
7,AR,ARG,Argentina,Argentine Republic,None,None
8,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income
9,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
10,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
11,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
12,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
13,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
14,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
15,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
16,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Low income
17,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income
18,BD,BGD,Bangladesh,People's Republic of Bangladesh,South Asia,Lower middle income
19,BG,BGR,Bulgaria,Republic of Bulgaria,Europe & Central Asia,Upper middle income

In [30]:
#Lets you create a view that you can use in SQL queries
wdicountryDim.createOrReplaceTempView("wdicountryvw")

In [31]:
transformQuery = """
select 
    country_iso_code
    , wb_country_code
    , country_name as name
    , country_long_name as long_name
    , region
    , income_group
from 
    wdicountryvw
"""

showDF(spark.sql(transformQuery))

,country_iso_code,wb_country_code,name,long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
2,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
3,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
4,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
5,1A,ARB,Arab World,Arab World,None,None
6,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
7,AR,ARG,Argentina,Argentine Republic,None,None
8,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income
9,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
10,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
11,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
12,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
13,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
14,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
15,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
16,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Low income
17,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income
18,BD,BGD,Bangladesh,People's Republic of Bangladesh,South Asia,Lower middle income
19,BG,BGR,Bulgaria,Republic of Bulgaria,Europe & Central Asia,Upper middle income

In [26]:
transformQuery = """
select 
    count(*)
from 
    wdicountry
"""

showDF(spark.sql(transformQuery))

   count(1)
0       263

#### Transform the Series Dataset
- Filter only for series that have Annual periodicity
- Get the following columns and rename the selected columns to prepare further processing

In [37]:
wdiseriesDim = wdiseries \
    .select("Series Code", "Indicator Name", "Short Definition", "Periodicity", "Aggregation Method") \
    .withColumnRenamed("Series Code", "indicator_code") \
    .withColumnRenamed("Indicator Name", "indicator_name") \
    .withColumnRenamed("Periodicity", "periodicity") \
    .withColumnRenamed("Aggregation Method", "aggregation_method") \
    .filter(col("periodicity") == "Annual") 
    
showDF(wdiseriesDim)

wdiseriesDim.count()

,indicator_code,indicator_name,Short Definition,periodicity,aggregation_method
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors",None,Annual,Sum
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer produc...,None,Annual,Weighted average
2,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare ...,None,Annual,Weighted average
3,AG.LND.AGRI.K2,Agricultural land (sq. km),None,Annual,Sum
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),None,Annual,Weighted average
5,AG.LND.ARBL.HA,Arable land (hectares),None,Annual,None
6,AG.LND.ARBL.HA.PC,Arable land (hectares per person),None,Annual,Weighted Average
7,AG.LND.ARBL.ZS,Arable land (% of land area),None,Annual,Weighted average
8,AG.LND.CREL.HA,Land under cereal production (hectares),None,Annual,Sum
9,AG.LND.CROP.ZS,Permanent cropland (% of land area),None,Annual,Weighted average
10,AG.LND.EL5M.RU.K2,Rural land area where elevation is below 5 met...,None,Annual,Sum
11,AG.LND.EL5M.RU.ZS,Rural land area where elevation is below 5 met...,None,Annual,Weighted Average
12,AG.LND.EL5M.UR.K2,Urban land area where elevation is below 5 met...,None,Annual,Sum
13,AG.LND.EL5M.UR.ZS,Urban land area where elevation is below 5 met...,None,Annual,Weighted Average
14,AG.LND.EL5M.ZS,Land area where elevation is below 5 meters (%...,None,Annual,Weighted Average
15,AG.LND.FRST.K2,Forest area (sq. km),None,Annual,Sum
16,AG.LND.FRST.ZS,Forest area (% of land area),None,Annual,Weighted average
17,AG.LND.IRIG.AG.ZS,Agricultural irrigated land (% of total agricu...,None,Annual,Weighted average
18,AG.LND.PRCP.MM,Average precipitation in depth (mm per year),None,Annual,None
19,AG.LND.TOTL.K2,Land area (sq. km),None,Annual,Sum

1587

##### Our dataset has multiple types of metrics. The only ones that we care about are simple aggregates.

In [38]:
simpleAggInd = wdiseriesDim \
    .filter("lower(aggregation_method) = 'sum'") \
    .select("indicator_code", "indicator_name") \
    .orderBy("indicator_code")

showDF(simpleAggInd, limitRows = 500, truncate = False)

,indicator_code,indicator_name
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors"
1,AG.LND.AGRI.K2,Agricultural land (sq. km)
2,AG.LND.CREL.HA,Land under cereal production (hectares)
3,AG.LND.EL5M.RU.K2,Rural land area where elevation is below 5 meters (sq. km)
4,AG.LND.EL5M.UR.K2,Urban land area where elevation is below 5 meters (sq. km)
5,AG.LND.FRST.K2,Forest area (sq. km)
6,AG.LND.TOTL.K2,Land area (sq. km)
7,AG.LND.TOTL.RU.K2,Rural land area (sq. km)
8,AG.LND.TOTL.UR.K2,Urban land area (sq. km)
9,AG.PRD.CREL.MT,Cereal production (metric tons)
10,AG.SRF.TOTL.K2,Surface area (sq. km)
11,BM.GSR.FCTY.CD,"Primary income payments (BoP, current US$)"
12,BM.GSR.ROYL.CD,"Charges for the use of intellectual property, payments (BoP, current US$)"
13,BM.KLT.DINV.CD.WD,"Foreign direct investment, net outflows (BoP, current US$)"
14,BM.TRF.PRVT.CD,"Secondary income, other sectors, payments (BoP, current US$)"
15,BM.TRF.PWKR.CD.DT,"Personal remittances, paid (current US$)"
16,BX.GRT.EXTA.CD.WD,"Grants, excluding technical cooperation (BoP, current US$)"
17,BX.GRT.TECH.CD.WD,"Technical cooperation grants (BoP, current US$)"
18,BX.GSR.CCIS.CD,"ICT service exports (BoP, current US$)"
19,BX.GSR.FCTY.CD,"Primary income receipts (BoP, current US$)"
20,BX.GSR.ROYL.CD,"Charges for the use of intellectual property, receipts (BoP, current US$)"
21,BX.KLT.DINV.CD.WD,"Foreign direct investment, net inflows (BoP, current US$)"
22,BX.KLT.DREM.CD.DT,Primary income on FDI (current US$)
23,BX.PEF.TOTL.CD.WD,"Portfolio equity, net inflows (BoP, current US$)"
24,BX.TRF.CURR.CD,"Secondary income receipts (BoP, current US$)"
25,BX.TRF.PWKR.CD,"Personal transfers, receipts (BoP, current US$)"
26,BX.TRF.PWKR.CD.DT,"Personal remittances, received (current US$)"
27,CM.MKT.LCAP.CD,Market capitalization of listed domestic companies (current US$)
28,CM.MKT.LDOM.NO,"Listed domestic companies, total"
29,CM.MKT.TRAD.CD,"Stocks traded, total value (current US$)"
30,DC.DAC.AUSL.CD,"Net bilateral aid flows from DAC donors, Australia (current US$)"
31,DC.DAC.AUTL.CD,"Net bilateral aid flows from DAC donors, Austria (current US$)"
32,DC.DAC.BELL.CD,"Net bilateral aid flows from DAC donors, Belgium (current US$)"
33,DC.DAC.CANL.CD,"Net bilateral aid flows from DAC donors, Canada (current US$)"
34,DC.DAC.CECL.CD,"Net bilateral aid flows from DAC donors, European Union institutions (current US$)"
35,DC.DAC.CHEL.CD,"Net bilateral aid flows from DAC donors, Switzerland (current US$)"
36,DC.DAC.CZEL.CD,"Net bilateral aid flows from DAC donors, Czech Republic (current US$)"
37,DC.DAC.DEUL.CD,"Net bilateral aid flows from DAC donors, Germany (current US$)"
38,DC.DAC.DNKL.CD,"Net bilateral aid flows from DAC donors, Denmark (current US$)"
39,DC.DAC.ESPL.CD,"Net bilateral aid flows from DAC donors, Spain (current US$)"
40,DC.DAC.FINL.CD,"Net bilateral aid flows from DAC donors, Finland (current US$)"
41,DC.DAC.FRAL.CD,"Net bilateral aid flows from DAC donors, France (current US$)"
42,DC.DAC.GBRL.CD,"Net bilateral aid flows from DAC donors, United Kingdom (current US$)"
43,DC.DAC.GRCL.CD,"Net bilateral aid flows from DAC donors, Greece (current US$)"
44,DC.DAC.IRLL.CD,"Net bilateral aid flows from DAC donors, Ireland (current US$)"
45,DC.DAC.ISLL.CD,"Net bilateral aid flows from DAC donors, Iceland (current US$)"
46,DC.DAC.ITAL.CD,"Net bilateral aid flows from DAC donors, Italy (current US$)"
47,DC.DAC.JPNL.CD,"Net bilateral aid flows from DAC donors, Japan (current US$)"
48,DC.DAC.KORL.CD,"Net bilateral aid flows from DAC donors, Korea, Rep. (current US$)"
49,DC.DAC.LUXL.CD,"Net bilateral aid flows from DAC donors, Luxembourg (current US$)"
50,DC.DAC.NLDL.CD,"Net bilateral aid flows from DAC donors, Netherlands (current US$)"
51,DC.DAC.NORL.CD,"Net bilateral aid flows from DAC donors, Norway (current US$)"
52,DC.DAC.NZLL.CD,"Net bilateral aid flows from DAC donors, New Zealand (current US$)"
53,DC.DAC.POLL.CD,"Net bilateral aid flows from DAC donors, Poland (current US$)"
54,DC.DAC.PRTL.CD,"Net bilateral aid flows from DAC donors, Portugal (current US$)"
55,DC.DAC.SVKL.CD,"Net bilateral aid flows from DAC donors, Slovak Republic (current US$)"
56,DC.DAC.SVNL.CD,"Net bilateral aid flows from DAC donors, Slovenia (current US$)"
57,DC.DAC.SWEL.CD,"Net bilateral aid flows from DAC donors, Sweden (current US$)"
58,DC.DAC.TOTL.CD,"Net bilateral aid flows from DAC donors, Total (current US$)"
59,DC.DAC.USAL.CD,"Net bilateral aid flows from DAC donors, United States (current US$)"
60,DT.AMT.BLAT.CD,"PPG, bilateral (AMT, current US$)"
61,DT.AMT.BLTC.CD,"PPG, bilateral concessional (AMT, current US$)"
62,DT.AMT.DIMF.CD,"IMF repurchases (AMT, current US$)"
63,DT.AMT.DLTF.CD,"Principal repayments on external debt, long-term + IMF (AMT, current US$)"
64,DT.AMT.DLXF.CD,"Principal repayments on external debt, long-term (AMT, current US$)"
65,DT.AMT.DPNG.CD,"Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)"
66,DT.AMT.DPPG.CD,"Principal repayments on external debt, public and publicly guaranteed (PPG) (AMT, current US$)"
67,DT.AMT.MIBR.CD,"PPG, IBRD (AMT, current US$)"
68,DT.AMT.MIDA.CD,"PPG, IDA (AMT, current US$)"
69,DT.AMT.MLAT.CD,"PPG, multilateral (AMT, current US$)"
70,DT.AMT.MLTC.CD,"PPG, multilateral concessional (AMT, current US$)"
71,DT.AMT.OFFT.CD,"PPG, official creditors (AMT, current US$)"
72,DT.AMT.PBND.CD,"PPG, bonds (AMT, current US$)"
73,DT.AMT.PCBK.CD,"PPG, commercial banks (AMT, current US$)"
74,DT.AMT.PNGB.CD,"PNG, bonds (AMT, current US$)"
75,DT.AMT.PNGC.CD,"PNG, commercial banks and other creditors (AMT, current US$)"
76,DT.AMT.PROP.CD,"PPG, other private creditors (AMT, current US$)"
77,DT.AMT.PRVT.CD,"PPG, private creditors (AMT, current US$)"
78,DT.AXA.DPPG.CD,"Principal arrears, public and publicly guaranteed (current US$)"
79,DT.AXA.OFFT.CD,"Principal arrears, official creditors (current US$)"
80,DT.AXA.PRVT.CD,"Principal arrears, private creditors (current US$)"
81,DT.AXF.DPPG.CD,Principal forgiven (current US$)
82,DT.AXR.DPPG.CD,Principal rescheduled (current US$)
83,DT.AXR.OFFT.CD,"Principal rescheduled, official (current US$)"
84,DT.AXR.PRVT.CD,"Principal rescheduled, private (current US$)"
85,DT.COM.DPPG.CD,"Commitments, public and publicly guaranteed (COM, current US$)"
86,DT.COM.MIBR.CD,"Commitments, IBRD (COM, current US$)"
87,DT.COM.MIDA.CD,"Commitments, IDA (COM, current US$)"
88,DT.COM.OFFT.CD,"Commitments, official creditors (COM, current US$)"
89,DT.COM.PRVT.CD,"Commitments, private creditors (COM, current US$)"
90,DT.DFR.DPPG.CD,Debt forgiveness or reduction (current US$)
91,DT.DIS.BLAT.CD,"PPG, bilateral (DIS, current US$)"
92,DT.DIS.BLTC.CD,"PPG, bilateral concessional (DIS, current US$)"
93,DT.DIS.DIMF.CD,"IMF purchases (DIS, current US$)"
94,DT.DIS.DLTF.CD,"Disbursements on external debt, long-term + IMF (DIS, current US$)"
95,DT.DIS.DLXF.CD,"Disbursements on external debt, long-term (DIS, current US$)"
96,DT.DIS.DPNG.CD,"Disbursements on external debt, private nonguaranteed (PNG) (DIS, current US$)"
97,DT.DIS.DPPG.CD,"Disbursements on external debt, public and publicly guaranteed (PPG) (DIS, current US$)"
98,DT.DIS.IDAG.CD,IDA grants (current US$)
99,DT.DIS.MIBR.CD,"PPG, IBRD (DIS, current US$)"
100,DT.DIS.MIDA.CD,"PPG, IDA (DIS, current US$)"
101,DT.DIS.MLAT.CD,"PPG, multilateral (DIS, current US$)"
102,DT.DIS.MLTC.CD,"PPG, multilateral concessional (DIS, current US$)"
103,DT.DIS.OFFT.CD,"PPG, official creditors (DIS, current US$)"
104,DT.DIS.PBND.CD,"PPG, bonds (DIS, current US$)"
105,DT.DIS.PCBK.CD,"PPG, commercial banks (DIS, current US$)"
106,DT.DIS.PNGB.CD,"PNG, bonds (DIS, current US$)"
107,DT.DIS.PNGC.CD,"PNG, commercial banks and other creditors (DIS, current US$)"
108,DT.DIS.PROP.CD,"PPG, other private creditors (DIS, current US$)"
109,DT.DIS.PRVT.CD,"PPG, private creditors (DIS, current US$)"
110,DT.DOD.ALLC.CD,"External debt stocks, concessional (DOD, current US$)"
111,DT.DOD.BLAT.CD,"PPG, bilateral (DOD, current US$)"
112,DT.DOD.BLTC.CD,"PPG, bilateral concessional (DOD, current US$)"
113,DT.DOD.DECT.CD,"External debt stocks, total (DOD, current US$)"
114,DT.DOD.DECT.CD.CG,Total change in external debt stocks (current US$)
115,DT.DOD.DIMF.CD,"Use of IMF credit (DOD, current US$)"
116,DT.DOD.DLXF.CD,"External debt stocks, long-term (DOD, current US$)"
117,DT.DOD.DPNG.CD,"External debt stocks, private nonguaranteed (PNG) (DOD, current US$)"
118,DT.DOD.DPPG.CD,"External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)"
119,DT.DOD.DSTC.CD,"External debt stocks, short-term (DOD, current US$)"
120,DT.DOD.MDRI.CD,Debt forgiveness grants (current US$)
121,DT.DOD.MIBR.CD,"PPG, IBRD (DOD, current US$)"
122,DT.DOD.MIDA.CD,"PPG, IDA (DOD, current US$)"
123,DT.DOD.MLAT.CD,"PPG, multilateral (DOD, current US$)"
124,DT.DOD.MLTC.CD,"PPG, multilateral concessional (DOD, current US$)"
125,DT.DOD.MWBG.CD,"IBRD loans and IDA credits (DOD, current US$)"
126,DT.DOD.OFFT.CD,"PPG, official creditors (DOD, current US$)"
127,DT.DOD.PBND.CD,"PPG, bonds (DOD, current US$)"
128,DT.DOD.PCBK.CD,"PPG, commercial banks (DOD, current US$)"
129,DT.DOD.PNGB.CD,"PNG, bonds (DOD, current US$)"
130,DT.DOD.PNGC.CD,"PNG, commercial banks and other creditors (DOD, current US$)"
131,DT.DOD.PROP.CD,"PPG, other private creditors (DOD, current US$)"
132,DT.DOD.PRVS.CD,"External debt stocks, long-term private sector (DOD, current US$)"
133,DT.DOD.PRVT.CD,"PPG, private creditors (DOD, current US$)"
134,DT.DOD.PUBS.CD,"External debt stocks, long-term public sector (DOD, current US$)"
135,DT.DOD.PVLX.CD,Present value of external debt (current US$)
136,DT.DOD.RSDL.CD,"Residual, debt stock-flow reconciliation (current US$)"
137,DT.DOD.VTOT.CD,"External debt stocks, variable rate (DOD, current US$)"
138,DT.DSB.DPPG.CD,Debt buyback (current US$)
139,DT.DSF.DPPG.CD,Debt stock reduction (current US$)
140,DT.DXR.DPPG.CD,Debt stock rescheduled (current US$)
141,DT.INT.BLAT.CD,"PPG, bilateral (INT, current US$)"
142,DT.INT.BLTC.CD,"PPG, bilateral concessional (INT, current US$)"
143,DT.INT.DECT.CD,"Interest payments on external debt, total (INT, current US$)"
144,DT.INT.DIMF.CD,"IMF charges (INT, current US$)"
145,DT.INT.DLXF.CD,"Interest payments on external debt, long-term (INT, current US$)"
146,DT.INT.DPNG.CD,"Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)"
147,DT.INT.DPPG.CD,"Interest payments on external debt, public and publicly guaranteed (PPG) (INT, current US$)"
148,DT.INT.DSTC.CD,"Interest payments on external debt, short-term (INT, current US$)"
149,DT.INT.MIBR.CD,"PPG, IBRD (INT, current US$)"
150,DT.INT.MIDA.CD,"PPG, IDA (INT, current US$)"
151,DT.INT.MLAT.CD,"PPG, multilateral (INT, current US$)"
152,DT.INT.MLTC.CD,"PPG, multilateral concessional (INT, current US$)"
153,DT.INT.OFFT.CD,"PPG, official creditors (INT, current US$)"
154,DT.INT.PBND.CD,"PPG, bonds (INT, current US$)"
155,DT.INT.PCBK.CD,"PPG, commercial banks (INT, current US$)"
156,DT.INT.PNGB.CD,"PNG, bonds (INT, current US$)"
157,DT.INT.PNGC.CD,"PNG, commercial banks and other creditors (INT, current US$)"
158,DT.INT.PROP.CD,"PPG, other private creditors (INT, current US$)"
159,DT.INT.PRVT.CD,"PPG, private creditors (INT, current US$)"
160,DT.IXA.DPPG.CD,"Interest arrears, public and publicly guaranteed (current US$)"
161,DT.IXA.DPPG.CD.CG,Net change in interest arrears (current US$)
162,DT.IXA.OFFT.CD,"Interest arrears, official creditors (current US$)"
163,DT.IXA.PRVT.CD,"Interest arrears, private creditors (current US$)"
164,DT.IXF.DPPG.CD,Interest forgiven (current US$)
165,DT.IXR.DPPG.CD,Interest rescheduled (capitalized) (current US$)
166,DT.IXR.OFFT.CD,"Interest rescheduled, official (current US$)"
167,DT.IXR.PRVT.CD,"Interest rescheduled, private (current US$)"
168,DT.NFL.BLAT.CD,"Net financial flows, bilateral (NFL, current US$)"
169,DT.NFL.BLTC.CD,"PPG, bilateral concessional (NFL, current US$)"
170,DT.NFL.BOND.CD,"Portfolio investment, bonds (PPG + PNG) (NFL, current US$)"
171,DT.NFL.DECT.CD,"Net flows on external debt, total (NFL, current US$)"
172,DT.NFL.DLXF.CD,"Net flows on external debt, long-term (NFL, current US$)"
173,DT.NFL.DPNG.CD,"Net flows on external debt, private nonguaranteed (PNG) (NFL, current US$)"
174,DT.NFL.DPPG.CD,"Net flows on external debt, public and publicly guaranteed (PPG) (NFL, current US$)"
175,DT.NFL.DSTC.CD,"Net flows on external debt, short-term (NFL, current US$)"
176,DT.NFL.FAOG.CD,"Net official flows from UN agencies, FAO (current US$)"
177,DT.NFL.IAEA.CD,"Net official flows from UN agencies, IAEA (current US$)"
178,DT.NFL.IFAD.CD,"Net official flows from UN agencies, IFAD (current US$)"
179,DT.NFL.ILOG.CD,"Net official flows from UN agencies, ILO (current US$)"
180,DT.NFL.IMFC.CD,"Net financial flows, IMF concessional (NFL, current US$)"
181,DT.NFL.IMFN.CD,"Net financial flows, IMF nonconcessional (NFL, current US$)"
182,DT.NFL.MIBR.CD,"Net financial flows, IBRD (NFL, current US$)"
183,DT.NFL.MIDA.CD,"Net financial flows, IDA (NFL, current US$)"
184,DT.NFL.MLAT.CD,"Net financial flows, multilateral (NFL, current US$)"
185,DT.NFL.MLTC.CD,"PPG, multilateral concessional (NFL, current US$)"
186,DT.NFL.MOTH.CD,"Net financial flows, others (NFL, current US$)"
187,DT.NFL.NEBR.CD,"EBRD, private nonguaranteed (NFL, current US$)"
188,DT.NFL.NIFC.CD,"IFC, private nonguaranteed (NFL, current US$)"
189,DT.NFL.OFFT.CD,"PPG, official creditors (NFL, current US$)"
190,DT.NFL.PBND.CD,"PPG, bonds (NFL, current US$)"
191,DT.NFL.PCBK.CD,"PPG, commercial banks (NFL, current US$)"
192,DT.NFL.PCBO.CD,"Commercial banks and other lending (PPG + PNG) (NFL, current US$)"
193,DT.NFL.PNGB.CD,"PNG, bonds (NFL, current US$)"
194,DT.NFL.PNGC.CD,"PNG, commercial banks and other creditors (NFL, current US$)"
195,DT.NFL.PROP.CD,"PPG, other private creditors (NFL, current US$)"
196,DT.NFL.PRVT.CD,"PPG, private creditors (NFL, current US$)"
197,DT.NFL.RDBC.CD,"Net financial flows, RDB concessional (NFL, current US$)"
198,DT.NFL.RDBN.CD,"Net financial flows, RDB nonconcessional (NFL, current US$)"
199,DT.NFL.UNAI.CD,"Net official flows from UN agencies, UNAIDS (current US$)"
200,DT.NFL.UNCF.CD,"Net official flows from UN agencies, UNICEF (current US$)"
201,DT.NFL.UNCR.CD,"Net official flows from UN agencies, UNHCR (current US$)"
202,DT.NFL.UNDP.CD,"Net official flows from UN agencies, UNDP (current US$)"
203,DT.NFL.UNEC.CD,"Net official flows from UN agencies, UNECE (current US$)"
204,DT.NFL.UNFP.CD,"Net official flows from UN agencies, UNFPA (current US$)"
205,DT.NFL.UNPB.CD,"Net official flows from UN agencies, UNPBF (current US$)"
206,DT.NFL.UNRW.CD,"Net official flows from UN agencies, UNRWA (current US$)"
207,DT.NFL.UNTA.CD,"Net official flows from UN agencies, UNTA (current US$)"
208,DT.NFL.WFPG.CD,"Net official flows from UN agencies, WFP (current US$)"
209,DT.NFL.WHOL.CD,"Net official flows from UN agencies, WHO (current US$)"
210,DT.NTR.BLAT.CD,"PPG, bilateral (NTR, current US$)"
211,DT.NTR.BLTC.CD,"PPG, bilateral concessional (NTR, current US$)"
212,DT.NTR.DECT.CD,"Net transfers on external debt, total (NTR, current US$)"
213,DT.NTR.DLXF.CD,"Net transfers on external debt, long-term (NTR, current US$)"
214,DT.NTR.DPNG.CD,"Net transfers on external debt, private nonguaranteed (PNG) (NTR, current US$)"
215,DT.NTR.DPPG.CD,"Net transfers on external debt, public and publicly guaranteed (PPG) (NTR, current US$)"
216,DT.NTR.MIBR.CD,"PPG, IBRD (NTR, current US$)"
217,DT.NTR.MIDA.CD,"PPG, IDA (NTR, current US$)"
218,DT.NTR.MLAT.CD,"PPG, multilateral (NTR, current US$)"
219,DT.NTR.MLTC.CD,"PPG, multilateral concessional (NTR, current US$)"
220,DT.NTR.OFFT.CD,"PPG, official creditors (NTR, current US$)"
221,DT.NTR.PBND.CD,"PPG, bonds (NTR, current US$)"
222,DT.NTR.PCBK.CD,"PPG, commercial banks (NTR, current US$)"
223,DT.NTR.PNGB.CD,"PNG, bonds (NTR, current US$)"
224,DT.NTR.PNGC.CD,"PNG, commercial banks and other creditors (NTR, current US$)"
225,DT.NTR.PROP.CD,"PPG, other private creditors (NTR, current US$)"
226,DT.NTR.PRVT.CD,"PPG, private creditors (NTR, current US$)"
227,DT.ODA.ALLD.CD,Net official development assistance and official aid received (current US$)
228,DT.ODA.ALLD.KD,Net official development assistance and official aid received (constant 2013 US$)
229,DT.ODA.OATL.CD,Net official aid received (current US$)
230,DT.ODA.OATL.KD,Net official aid received (constant 2014 US$)
231,DT.ODA.ODAT.CD,Net official development assistance received (current US$)
232,DT.ODA.ODAT.KD,Net official development assistance received (constant 2014 US$)
233,DT.TDS.BLAT.CD,"PPG, bilateral (TDS, current US$)"
234,DT.TDS.BLTC.CD,"PPG, bilateral concessional (TDS, current US$)"
235,DT.TDS.DECT.CD,"Debt service on external debt, total (TDS, current US$)"
236,DT.TDS.DIMF.CD,"IMF repurchases and charges (TDS, current US$)"
237,DT.TDS.DLXF.CD,"Debt service on external debt, long-term (TDS, current US$)"
238,DT.TDS.DPNG.CD,"Debt service on external debt, private nonguaranteed (PNG) (TDS, current US$)"
239,DT.TDS.DPPG.CD,"Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)"
240,DT.TDS.MIBR.CD,"PPG, IBRD (TDS, current US$)"
241,DT.TDS.MIDA.CD,"PPG, IDA (TDS, current US$)"
242,DT.TDS.MLAT.CD,"Multilateral debt service (TDS, current US$)"
243,DT.TDS.MLTC.CD,"PPG, multilateral concessional (TDS, current US$)"
244,DT.TDS.OFFT.CD,"PPG, official creditors (TDS, current US$)"
245,DT.TDS.PBND.CD,"PPG, bonds (TDS, current US$)"
246,DT.TDS.PCBK.CD,"PPG, commercial banks (TDS, current US$)"
247,DT.TDS.PNGB.CD,"PNG, bonds (TDS, current US$)"
248,DT.TDS.PNGC.CD,"PNG, commercial banks and other creditors (TDS, current US$)"
249,DT.TDS.PROP.CD,"PPG, other private creditors (TDS, current US$)"
250,DT.TDS.PRVT.CD,"PPG, private creditors (TDS, current US$)"
251,DT.TXR.DPPG.CD,Total amount of debt rescheduled (current US$)
252,DT.UND.DPPG.CD,"Undisbursed external debt, total (UND, current US$)"
253,DT.UND.OFFT.CD,"Undisbursed external debt, official creditors (UND, current US$)"
254,DT.UND.PRVT.CD,"Undisbursed external debt, private creditors (UND, current US$)"
255,EG.ELC.RNWX.KH,"Electricity production from renewable sources, excluding hydroelectric (kWh)"
256,EN.ATM.GHGO.KT.CE,"Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)"
257,EN.ATM.GHGT.KT.CE,Total greenhouse gas emissions (kt of CO2 equivalent)
258,EN.ATM.METH.AG.KT.CE,Agricultural methane emissions (thousand metric tons of CO2 equivalent)
259,EN.ATM.METH.EG.KT.CE,Methane emissions in energy sector (thousand metric tons of CO2 equivalent)
260,EN.ATM.METH.KT.CE,Methane emissions (kt of CO2 equivalent)
261,EN.ATM.NOXE.AG.KT.CE,Agricultural nitrous oxide emissions (thousand metric tons of CO2 equivalent)
262,EN.ATM.NOXE.EG.KT.CE,Nitrous oxide emissions in energy sector (thousand metric tons of CO2 equivalent)
263,EN.ATM.NOXE.KT.CE,Nitrous oxide emissions (thousand metric tons of CO2 equivalent)
264,EN.BIR.THRD.NO,"Bird species, threatened"
265,EN.FSH.THRD.NO,"Fish species, threatened"
266,EN.HPT.THRD.NO,"Plant species (higher), threatened"
267,EN.MAM.THRD.NO,"Mammal species, threatened"
268,ER.FSH.AQUA.MT,Aquaculture production (metric tons)
269,ER.FSH.CAPT.MT,Capture fisheries production (metric tons)
270,ER.FSH.PROD.MT,Total fisheries production (metric tons)
271,ER.H2O.FWTL.K3,"Annual freshwater withdrawals, total (billion cubic meters)"
272,ER.H2O.INTR.K3,"Renewable internal freshwater resources, total (billion cubic meters)"
273,IE.PPI.ENGY.CD,Investment in energy with private participation (current US$)
274,IE.PPI.ICTI.CD,Investment in ICT with private participation (current US$)
275,IE.PPI.TELE.CD,Investment in telecoms with private participation (current US$)
276,IE.PPI.TRAN.CD,Investment in transport with private participation (current US$)
277,IE.PPI.WATR.CD,Investment in water and sanitation with private participation (current US$)

##### Only keep the indicators that are relevant to requirements i.e. Population indicators and Cellular and Broadband penetration

In [39]:
targetInd = simpleAggInd \
    .filter("lower(indicator_name) like '%population%total%' " + 
            " or lower(indicator_name) like '%cellular%' " +
            " or lower(indicator_name) like '%broadband%'") \
    .filter("lower(indicator_name) not like '%refugee%'")

showDF(targetInd)

   indicator_code                       indicator_name
0     IT.CEL.SETS        Mobile cellular subscriptions
1     IT.NET.BBND        Fixed broadband subscriptions
2  SP.POP.0014.TO          Population ages 0-14, total
3  SP.POP.1564.TO         Population ages 15-64, total
4  SP.POP.65UP.TO  Population ages 65 and above, total
5     SP.POP.TOTL                    Population, total

##### Now that we have identified the various indicators of interest, we can continue with getting the metrics for these indicators

In [40]:
# Keep the columns that are relevant for further transformations
indData = wdiindicators \
    .withColumnRenamed("Indicator Code", "indicator_code") \
    .withColumnRenamed("Country Code", "wb_country_code") \
    .drop("Indicator Name") \
    .drop("Country Name") \
    .drop("_c62")

In [42]:
#Keep only the indicators that we care about
targetIndData = indData.join(targetInd, indData.indicator_code == targetInd.indicator_code).drop(targetInd.indicator_code)

In [43]:
showDF(targetIndData)

,wb_country_code,indicator_code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,_c65,indicator_name
0,ARB,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.142355e+07,1.334510e+07,1.921625e+07,2.130822e+07,2.951891e+07,3.068398e+07,3.322742e+07,NaN,None,Fixed broadband subscriptions
1,ARB,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,4.077046e+08,4.150293e+08,4.190142e+08,4.172123e+08,4.164843e+08,4.207439e+08,4.237040e+08,NaN,None,Mobile cellular subscriptions
2,ARB,SP.POP.0014.TO,39900284.0,41339703.0,42792877.0,44248946.0,45685285.0,47089854.0,48668380.0,50184681.0,...,1.262137e+08,1.284498e+08,1.306295e+08,1.331906e+08,1.354687e+08,1.376092e+08,1.397829e+08,NaN,None,"Population ages 0-14, total"
3,ARB,SP.POP.1564.TO,49063244.0,50032198.0,51072095.0,52200457.0,53449205.0,54836642.0,56150911.0,57648467.0,...,2.375284e+08,2.429917e+08,2.483654e+08,2.531595e+08,2.580532e+08,2.630479e+08,2.681579e+08,NaN,None,"Population ages 15-64, total"
4,ARB,SP.POP.65UP.TO,3234225.0,3352609.0,3469470.0,3584776.0,3698270.0,3809935.0,3939319.0,4066216.0,...,1.596358e+07,1.646632e+07,1.703336e+07,1.767429e+07,1.837712e+07,1.913354e+07,1.992950e+07,NaN,None,"Population ages 65 and above, total"
5,ARB,SP.POP.TOTL,92197753.0,94724510.0,97334442.0,100034179.0,102832760.0,105736431.0,108758610.0,111899364.0,...,3.797057e+08,3.879077e+08,3.960283e+08,4.040244e+08,4.118990e+08,4.197906e+08,4.278703e+08,NaN,None,"Population, total"
6,CSS,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.744190e+05,7.533680e+05,8.971340e+05,9.718540e+05,1.003591e+06,1.083150e+06,1.135153e+06,NaN,None,Fixed broadband subscriptions
7,CSS,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,7.738402e+06,7.952809e+06,8.158691e+06,8.483363e+06,8.225310e+06,8.108229e+06,8.374284e+06,NaN,None,Mobile cellular subscriptions
8,CSS,SP.POP.0014.TO,1764314.0,1813810.0,1861239.0,1905670.0,1946434.0,1983382.0,2024504.0,2062386.0,...,1.766079e+06,1.753162e+06,1.741354e+06,1.733030e+06,1.724191e+06,1.715605e+06,1.708076e+06,NaN,None,"Population ages 0-14, total"
9,CSS,SP.POP.1564.TO,2150293.0,2172956.0,2197694.0,2224437.0,2252267.0,2280021.0,2301102.0,2321449.0,...,4.676982e+06,4.725567e+06,4.771265e+06,4.810375e+06,4.847983e+06,4.882860e+06,4.913712e+06,NaN,None,"Population ages 15-64, total"
10,CSS,SP.POP.65UP.TO,168897.0,175068.0,181750.0,188665.0,195638.0,202721.0,208090.0,213637.0,...,5.589280e+05,5.728510e+05,5.872000e+05,6.030440e+05,6.193150e+05,6.364300e+05,6.549530e+05,NaN,None,"Population ages 65 and above, total"
11,CSS,SP.POP.TOTL,4194713.0,4274061.0,4353625.0,4432219.0,4508192.0,4580372.0,4648357.0,4712546.0,...,7.123333e+06,7.173442e+06,7.222206e+06,7.269385e+06,7.314986e+06,7.358958e+06,7.401383e+06,NaN,None,"Population, total"
12,CEB,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.197776e+07,2.271588e+07,2.335264e+07,2.410402e+07,2.513947e+07,2.538006e+07,2.690290e+07,NaN,None,Fixed broadband subscriptions
13,CEB,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,1.379436e+08,1.366668e+08,1.313298e+08,1.298556e+08,1.265796e+08,1.275476e+08,1.295492e+08,NaN,None,Mobile cellular subscriptions
14,CEB,SP.POP.0014.TO,26671417.0,26777340.0,26719172.0,26557292.0,26352149.0,26091982.0,25734869.0,25509198.0,...,1.546893e+07,1.541692e+07,1.543227e+07,1.535740e+07,1.540584e+07,1.551959e+07,1.559948e+07,NaN,None,"Population ages 0-14, total"
15,CEB,SP.POP.1564.TO,58135802.0,58629074.0,59214001.0,59935092.0,60731330.0,61437992.0,62201008.0,63026206.0,...,7.152899e+07,7.096950e+07,7.031483e+07,6.964999e+07,6.887608e+07,6.808861e+07,6.737547e+07,NaN,None,"Population ages 15-64, total"
16,CEB,SP.POP.65UP.TO,6594545.0,6826325.0,7076325.0,7347635.0,7632317.0,7911012.0,8210457.0,8507867.0,...,1.671581e+07,1.710976e+07,1.751079e+07,1.798688e+07,1.845673e+07,1.892882e+07,1.940363e+07,NaN,None,"Population ages 65 and above, total"
17,CEB,SP.POP.TOTL,91401764.0,92232738.0,93009498.0,93840016.0,94715795.0,95440988.0,96146336.0,97043270.0,...,1.037137e+08,1.034962e+08,1.032579e+08,1.029943e+08,1.027387e+08,1.025370e+08,1.023786e+08,NaN,None,"Population, total"
18,EAR,IT.NET.BBND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.680937e+07,8.446844e+07,9.817526e+07,1.097369e+08,1.197341e+08,1.323404e+08,1.365081e+08,NaN,None,Fixed broadband subscriptions
19,EAR,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,2.532464e+09,2.660507e+09,2.788311e+09,3.016218e+09,3.130597e+09,3.058811e+09,3.178225e+09,NaN,None,Mobile cellular subscriptions

##### Let us start by getting the list of years that we have metrics for

In [45]:
indSample = targetIndData \
    .select(col("wb_country_code")
            , col("indicator_code")
            , lit("1960").alias("year")
            , col("1960").alias("indicator_value")) \
    .filter("indicator_value >= 0.0")

showDF(indSample)

   wb_country_code  indicator_code  year  indicator_value
0              ARB     IT.CEL.SETS  1960              0.0
1              ARB  SP.POP.0014.TO  1960       39900284.0
2              ARB  SP.POP.1564.TO  1960       49063244.0
3              ARB  SP.POP.65UP.TO  1960        3234225.0
4              ARB     SP.POP.TOTL  1960       92197753.0
5              CSS     IT.CEL.SETS  1960              0.0
6              CSS  SP.POP.0014.TO  1960        1764314.0
7              CSS  SP.POP.1564.TO  1960        2150293.0
8              CSS  SP.POP.65UP.TO  1960         168897.0
9              CSS     SP.POP.TOTL  1960        4194713.0
10             CEB     IT.CEL.SETS  1960              0.0
11             CEB  SP.POP.0014.TO  1960       26671417.0
12             CEB  SP.POP.1564.TO  1960       58135802.0
13             CEB  SP.POP.65UP.TO  1960        6594545.0
14             CEB     SP.POP.TOTL  1960       91401764.0
15             EAR     IT.CEL.SETS  1960              0.0
16             EAR  SP.POP.0014.TO  1960      403998062.0
17             EAR  SP.POP.1564.TO  1960      543576235.0
18             EAR  SP.POP.65UP.TO  1960       32429092.0
19             EAR     SP.POP.TOTL  1960      980003388.0

In [46]:
yrList = [x for x in targetIndData.schema.names \
             if x != 'wb_country_code' and x != 'indicator_code' and x != 'indicator_name'] 

print(yrList)

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '_c65']

In [48]:
#Cheat for creating a dataframe with no rows 
indDF = indSample.filter('1 = 0')

#Iterate through the list of years and store the rows in the DataFrame we created above
for indicatorYear in yrList:
    print("Processing indicators for " + indicatorYear)
    yrIndDF = targetIndData \
        .select(col("wb_country_code")
                , col("indicator_code")
                , lit(indicatorYear).alias("year")
                , col(indicatorYear).alias("indicator_value").cast(IntegerType())) \
        .filter("indicator_value >= 0")
    indDF = indDF.union(yrIndDF)

Processing indicators for 1960
Processing indicators for 1961
Processing indicators for 1962
Processing indicators for 1963
Processing indicators for 1964
Processing indicators for 1965
Processing indicators for 1966
Processing indicators for 1967
Processing indicators for 1968
Processing indicators for 1969
Processing indicators for 1970
Processing indicators for 1971
Processing indicators for 1972
Processing indicators for 1973
Processing indicators for 1974
Processing indicators for 1975
Processing indicators for 1976
Processing indicators for 1977
Processing indicators for 1978
Processing indicators for 1979
Processing indicators for 1980
Processing indicators for 1981
Processing indicators for 1982
Processing indicators for 1983
Processing indicators for 1984
Processing indicators for 1985
Processing indicators for 1986
Processing indicators for 1987
Processing indicators for 1988
Processing indicators for 1989
Processing indicators for 1990
Processing indicators for 1991
Processing indicators for 1992
Processing indicators for 1993
Processing indicators for 1994
Processing indicators for 1995
Processing indicators for 1996
Processing indicators for 1997
Processing indicators for 1998
Processing indicators for 1999
Processing indicators for 2000
Processing indicators for 2001
Processing indicators for 2002
Processing indicators for 2003
Processing indicators for 2004
Processing indicators for 2005
Processing indicators for 2006
Processing indicators for 2007
Processing indicators for 2008
Processing indicators for 2009
Processing indicators for 2010
Processing indicators for 2011
Processing indicators for 2012
Processing indicators for 2013
Processing indicators for 2014
Processing indicators for 2015
Processing indicators for 2016
Processing indicators for 2017
Processing indicators for 2018
Processing indicators for 2019
Processing indicators for 2020
Processing indicators for _c65

In [49]:
indDF.printSchema()

root
 |-- wb_country_code: string (nullable = true)
 |-- indicator_code: string (nullable = true)
 |-- year: string (nullable = false)
 |-- indicator_value: double (nullable = true)

In [50]:
indDF.count()

75040

In [51]:
yrPivot = indDF.groupBy('year').pivot('indicator_code').sum('indicator_value')

In [52]:
showDF(yrPivot.orderBy('year'))

,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,1960,0.0,NaN,1.166309e+10,1.758573e+10,1.409319e+09,2.953207e+10
1,1961,NaN,NaN,1.188233e+10,1.774670e+10,1.441242e+09,2.984400e+10
2,1962,NaN,NaN,1.217369e+10,1.797404e+10,1.473262e+09,3.022931e+10
3,1963,NaN,NaN,1.251664e+10,1.828305e+10,1.506747e+09,3.068790e+10
4,1964,NaN,NaN,1.283348e+10,1.862509e+10,1.538687e+09,3.115021e+10
5,1965,0.0,NaN,1.311915e+10,1.901574e+10,1.570263e+09,3.162321e+10
6,1966,NaN,NaN,1.344689e+10,1.938029e+10,1.623280e+09,3.210529e+10
7,1967,NaN,NaN,1.372431e+10,1.979268e+10,1.675977e+09,3.255040e+10
8,1968,NaN,NaN,1.397466e+10,2.024609e+10,1.728541e+09,3.300198e+10
9,1969,NaN,NaN,1.422940e+10,2.073197e+10,1.781782e+09,3.347741e+10
10,1970,0.0,NaN,1.449223e+10,2.122218e+10,1.833979e+09,3.395721e+10
11,1971,NaN,NaN,1.478937e+10,2.168581e+10,1.898023e+09,3.445001e+10
12,1972,NaN,NaN,1.507135e+10,2.211291e+10,1.959648e+09,3.493755e+10
13,1973,NaN,NaN,1.534009e+10,2.254923e+10,2.019352e+09,3.542113e+10
14,1974,NaN,NaN,1.558801e+10,2.300643e+10,2.079052e+09,3.590887e+10
15,1975,0.0,NaN,1.580300e+10,2.347975e+10,2.138353e+09,3.638839e+10
16,1976,0.0,NaN,1.601585e+10,2.393315e+10,2.209800e+09,3.685982e+10
17,1977,0.0,NaN,1.619749e+10,2.441223e+10,2.281328e+09,3.733133e+10
18,1978,0.0,NaN,1.635882e+10,2.492327e+10,2.351393e+09,3.781137e+10
19,1979,0.0,NaN,1.651076e+10,2.546480e+10,2.416409e+09,3.830323e+10

In [53]:
yrPivot.printSchema()

root
 |-- year: string (nullable = false)
 |-- IT.CEL.SETS: double (nullable = true)
 |-- IT.NET.BBND: double (nullable = true)
 |-- SP.POP.0014.TO: double (nullable = true)
 |-- SP.POP.1564.TO: double (nullable = true)
 |-- SP.POP.65UP.TO: double (nullable = true)
 |-- SP.POP.TOTL: double (nullable = true)

In [55]:
yrPivotDF = yrPivot.orderBy('year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population')

In [56]:
wdicountryDimFinal = wdicountryDim.filter("country_iso_code is not null")

showDF(wdicountryDimFinal)

,country_iso_code,wb_country_code,country_name,country_long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
2,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
3,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
4,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
5,1A,ARB,Arab World,Arab World,None,None
6,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
7,AR,ARG,Argentina,Argentine Republic,None,None
8,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income
9,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
10,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
11,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
12,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
13,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
14,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
15,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
16,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Low income
17,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income
18,BD,BGD,Bangladesh,People's Republic of Bangladesh,South Asia,Lower middle income
19,BG,BGR,Bulgaria,Republic of Bulgaria,Europe & Central Asia,Upper middle income

In [58]:
regionalInd = indDF.join(wdicountryDimFinal
                                       , indDF.wb_country_code == wdicountryDim.wb_country_code
                                       , "inner") \
    .select(wdicountryDim.region
            , indDF.wb_country_code
            , indDF.year
            , indDF.indicator_code
            , indDF.indicator_value)

In [59]:
showDF(regionalInd)

   region wb_country_code  year  indicator_code  indicator_value
0    None             ARB  1960     IT.CEL.SETS              0.0
1    None             ARB  1960  SP.POP.0014.TO       39900284.0
2    None             ARB  1960  SP.POP.1564.TO       49063244.0
3    None             ARB  1960  SP.POP.65UP.TO        3234225.0
4    None             ARB  1960     SP.POP.TOTL       92197753.0
5    None             CSS  1960     IT.CEL.SETS              0.0
6    None             CSS  1960  SP.POP.0014.TO        1764314.0
7    None             CSS  1960  SP.POP.1564.TO        2150293.0
8    None             CSS  1960  SP.POP.65UP.TO         168897.0
9    None             CSS  1960     SP.POP.TOTL        4194713.0
10   None             CEB  1960     IT.CEL.SETS              0.0
11   None             CEB  1960  SP.POP.0014.TO       26671417.0
12   None             CEB  1960  SP.POP.1564.TO       58135802.0
13   None             CEB  1960  SP.POP.65UP.TO        6594545.0
14   None             CEB  1960     SP.POP.TOTL       91401764.0
15   None             EAR  1960     IT.CEL.SETS              0.0
16   None             EAR  1960  SP.POP.0014.TO      403998062.0
17   None             EAR  1960  SP.POP.1564.TO      543576235.0
18   None             EAR  1960  SP.POP.65UP.TO       32429092.0
19   None             EAR  1960     SP.POP.TOTL      980003388.0

In [60]:
regionalPivot = regionalInd.groupBy('region', 'year').pivot('indicator_code').sum('indicator_value')

In [61]:
showDF(regionalPivot.orderBy('region', 'year'), limitRows=100)

,region,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,None,1960,0.000000e+00,NaN,1.054993e+10,1.585541e+10,1.260558e+09,2.653843e+10
1,None,1961,NaN,NaN,1.074873e+10,1.599995e+10,1.289075e+09,2.681007e+10
2,None,1962,NaN,NaN,1.101362e+10,1.620497e+10,1.317713e+09,2.714315e+10
3,None,1963,NaN,NaN,1.132566e+10,1.648408e+10,1.347686e+09,2.753740e+10
4,None,1964,NaN,NaN,1.161403e+10,1.679328e+10,1.376253e+09,2.793498e+10
5,None,1965,0.000000e+00,NaN,1.187404e+10,1.714682e+10,1.404493e+09,2.834184e+10
6,None,1966,NaN,NaN,1.217244e+10,1.747687e+10,1.452135e+09,2.875467e+10
7,None,1967,NaN,NaN,1.242509e+10,1.785050e+10,1.499495e+09,2.913086e+10
8,None,1968,NaN,NaN,1.265327e+10,1.826175e+10,1.546760e+09,2.951278e+10
9,None,1969,NaN,NaN,1.288533e+10,1.870198e+10,1.594580e+09,2.991442e+10
10,None,1970,0.000000e+00,NaN,1.312490e+10,1.914630e+10,1.641472e+09,3.031972e+10
11,None,1971,NaN,NaN,1.339589e+10,1.956579e+10,1.698997e+09,3.073568e+10
12,None,1972,NaN,NaN,1.365319e+10,1.994823e+10,1.754372e+09,3.114759e+10
13,None,1973,NaN,NaN,1.389859e+10,2.033921e+10,1.808046e+09,3.155643e+10
14,None,1974,NaN,NaN,1.412512e+10,2.074851e+10,1.861675e+09,3.196876e+10
15,None,1975,0.000000e+00,NaN,1.432197e+10,2.117238e+10,1.914948e+09,3.237462e+10
16,None,1976,0.000000e+00,NaN,1.451703e+10,2.157903e+10,1.979195e+09,3.277428e+10
17,None,1977,0.000000e+00,NaN,1.468398e+10,2.200850e+10,2.043483e+09,3.317421e+10
18,None,1978,0.000000e+00,NaN,1.483264e+10,2.246655e+10,2.106440e+09,3.358146e+10
19,None,1979,0.000000e+00,NaN,1.497273e+10,2.295191e+10,2.164866e+09,3.399866e+10
20,None,1980,1.643740e+05,NaN,1.510802e+10,2.345606e+10,2.216533e+09,3.442093e+10
21,None,1981,3.948430e+05,NaN,1.525336e+10,2.396584e+10,2.271776e+09,3.485378e+10
22,None,1982,6.097410e+05,NaN,1.541247e+10,2.449910e+10,2.319326e+09,3.530243e+10
23,None,1983,8.811210e+05,NaN,1.557417e+10,2.501124e+10,2.362222e+09,3.575603e+10
24,None,1984,1.796544e+06,NaN,1.573177e+10,2.545070e+10,2.405420e+09,3.620995e+10
25,None,1985,4.058062e+06,NaN,1.589228e+10,2.589228e+10,2.452887e+09,3.667331e+10
26,None,1986,7.838225e+06,NaN,1.611399e+10,2.627744e+10,2.513986e+09,3.715107e+10
27,None,1987,1.371005e+07,NaN,1.633589e+10,2.664582e+10,2.577501e+09,3.764153e+10
28,None,1988,2.327108e+07,NaN,1.655544e+10,2.702038e+10,2.643476e+09,3.813861e+10
29,None,1989,3.938188e+07,NaN,1.676573e+10,2.739906e+10,2.712271e+09,3.863485e+10
30,None,1990,6.085642e+07,NaN,1.696803e+10,2.778886e+10,2.784633e+09,3.911195e+10
31,None,1991,8.969198e+07,NaN,1.720656e+10,2.811499e+10,2.867414e+09,3.957935e+10
32,None,1992,1.301166e+08,NaN,1.738798e+10,2.843957e+10,2.953592e+09,4.003508e+10
33,None,1993,1.954947e+08,NaN,1.753710e+10,2.878339e+10,3.041247e+09,4.048219e+10
34,None,1994,3.249965e+08,NaN,1.767451e+10,2.913164e+10,3.126190e+09,4.089604e+10
35,None,1995,5.427456e+08,NaN,1.781203e+10,2.948426e+10,3.206824e+09,4.131207e+10
36,None,1996,8.833933e+08,NaN,1.789235e+10,2.984738e+10,3.302285e+09,4.171979e+10
37,None,1997,1.363339e+09,NaN,1.800405e+10,3.020006e+10,3.388974e+09,4.212672e+10
38,None,1998,2.070980e+09,8.459000e+05,1.811734e+10,3.055238e+10,3.470872e+09,4.253048e+10
39,None,1999,3.313443e+09,3.336290e+06,1.819125e+10,3.092047e+10,3.553668e+09,4.293163e+10
40,None,2000,5.209026e+09,6.391579e+07,1.821226e+10,3.131063e+10,3.640166e+09,4.332466e+10
41,None,2001,7.075212e+09,1.908773e+08,1.826746e+10,3.167636e+10,3.736279e+09,4.368910e+10
42,None,2002,8.871329e+09,3.721103e+08,1.826753e+10,3.206977e+10,3.835364e+09,4.405695e+10
43,None,2003,1.111557e+10,6.232967e+08,1.823708e+10,3.248191e+10,3.934226e+09,4.442945e+10
44,None,2004,1.433815e+10,1.017738e+09,1.821884e+10,3.289575e+10,4.026183e+09,4.480689e+10
45,None,2005,1.850291e+10,1.456620e+09,1.823554e+10,3.330128e+10,4.108607e+09,4.518869e+10
46,None,2006,2.313042e+10,1.946319e+09,1.828820e+10,3.368444e+10,4.201526e+09,4.557581e+10
47,None,2007,2.824370e+10,2.493988e+09,1.836987e+10,3.406193e+10,4.286443e+09,4.595333e+10
48,None,2008,3.197479e+10,3.018526e+09,1.847744e+10,3.443523e+10,4.369211e+09,4.633069e+10
49,None,2009,3.512036e+10,3.547040e+09,1.859438e+10,3.480389e+10,4.456542e+09,4.670372e+10
50,None,2010,3.846840e+10,4.068508e+09,1.871113e+10,3.516846e+10,4.553001e+09,4.707843e+10
51,None,2011,4.134091e+10,4.656625e+09,1.884762e+10,3.550795e+10,4.668446e+09,4.744837e+10
52,None,2012,4.322590e+10,5.107793e+09,1.898302e+10,3.585543e+10,4.792517e+09,4.783120e+10
53,None,2013,4.495980e+10,5.489877e+09,1.911879e+10,3.620486e+10,4.927844e+09,4.822162e+10
54,None,2014,4.636833e+10,5.828825e+09,1.925680e+10,3.655126e+10,5.078995e+09,4.861790e+10
55,None,2015,4.720852e+10,6.886413e+09,1.939599e+10,3.689126e+10,5.248843e+09,4.901793e+10
56,None,2016,4.782057e+10,7.597866e+09,1.954367e+10,3.721545e+10,5.449152e+09,4.942293e+10
57,None,2017,4.819517e+10,8.676092e+09,1.968777e+10,3.753486e+10,5.664930e+09,4.982862e+10
58,None,2018,4.878485e+10,9.080417e+09,1.982341e+10,3.784862e+10,5.889518e+09,5.023376e+10
59,None,2019,4.933382e+10,9.667554e+09,1.994798e+10,3.815821e+10,6.115198e+09,5.064111e+10
60,East Asia & Pacific,1960,0.000000e+00,NaN,4.049456e+08,5.852892e+08,3.995738e+07,1.030256e+09
61,East Asia & Pacific,1961,NaN,NaN,4.069237e+08,5.860974e+08,4.038526e+07,1.033472e+09
62,East Asia & Pacific,1962,NaN,NaN,4.154482e+08,5.912683e+08,4.078205e+07,1.047566e+09
63,East Asia & Pacific,1963,NaN,NaN,4.291821e+08,6.023865e+08,4.131563e+07,1.072954e+09
64,East Asia & Pacific,1964,NaN,NaN,4.415021e+08,6.146765e+08,4.172210e+07,1.097973e+09
65,East Asia & Pacific,1965,0.000000e+00,NaN,4.522639e+08,6.295861e+08,4.211752e+07,1.124042e+09
66,East Asia & Pacific,1966,NaN,NaN,4.656875e+08,6.438870e+08,4.388133e+07,1.153532e+09
67,East Asia & Pacific,1967,NaN,NaN,4.761972e+08,6.601173e+08,4.566762e+07,1.182061e+09
68,East Asia & Pacific,1968,NaN,NaN,4.854248e+08,6.780178e+08,4.746083e+07,1.210984e+09
69,East Asia & Pacific,1969,NaN,NaN,4.957752e+08,6.981723e+08,4.937086e+07,1.243401e+09
70,East Asia & Pacific,1970,0.000000e+00,NaN,5.069195e+08,7.176350e+08,5.117410e+07,1.275813e+09
71,East Asia & Pacific,1971,NaN,NaN,5.200075e+08,7.357505e+08,5.332676e+07,1.309172e+09
72,East Asia & Pacific,1972,NaN,NaN,5.317896e+08,7.534503e+08,5.538548e+07,1.340715e+09
73,East Asia & Pacific,1973,NaN,NaN,5.424103e+08,7.708180e+08,5.736363e+07,1.370684e+09
74,East Asia & Pacific,1974,NaN,NaN,5.514943e+08,7.894402e+08,5.944418e+07,1.400473e+09
75,East Asia & Pacific,1975,0.000000e+00,NaN,5.576343e+08,8.080558e+08,6.149796e+07,1.427285e+09
76,East Asia & Pacific,1976,0.000000e+00,NaN,5.607172e+08,8.263597e+08,6.399319e+07,1.451169e+09
77,East Asia & Pacific,1977,0.000000e+00,NaN,5.615041e+08,8.455844e+08,6.653066e+07,1.473719e+09
78,East Asia & Pacific,1978,0.000000e+00,NaN,5.605559e+08,8.663934e+08,6.913483e+07,1.496186e+09
79,East Asia & Pacific,1979,0.000000e+00,NaN,5.583564e+08,8.888248e+08,7.177777e+07,1.519063e+09
80,East Asia & Pacific,1980,0.000000e+00,NaN,5.550032e+08,9.119978e+08,7.438242e+07,1.541491e+09
81,East Asia & Pacific,1981,1.327500e+04,NaN,5.495704e+08,9.376306e+08,7.744773e+07,1.564760e+09
82,East Asia & Pacific,1982,1.980400e+04,NaN,5.453413e+08,9.643926e+08,8.047360e+07,1.590324e+09
83,East Asia & Pacific,1983,2.719800e+04,NaN,5.412079e+08,9.911670e+08,8.338941e+07,1.615887e+09
84,East Asia & Pacific,1984,4.314200e+04,NaN,5.366658e+08,1.017253e+09,8.615319e+07,1.640202e+09
85,East Asia & Pacific,1985,6.822900e+04,NaN,5.326575e+08,1.043441e+09,8.886868e+07,1.665104e+09
86,East Asia & Pacific,1986,1.283900e+05,NaN,5.323109e+08,1.067469e+09,9.165399e+07,1.691579e+09
87,East Asia & Pacific,1987,2.262250e+05,NaN,5.328578e+08,1.092066e+09,9.437810e+07,1.719455e+09
88,East Asia & Pacific,1988,4.240700e+05,NaN,5.340700e+08,1.116273e+09,9.708684e+07,1.747590e+09
89,East Asia & Pacific,1989,8.716370e+05,NaN,5.353758e+08,1.139658e+09,9.990244e+07,1.775104e+09
90,East Asia & Pacific,1990,1.563028e+06,NaN,5.362521e+08,1.162540e+09,1.029487e+08,1.801915e+09
91,East Asia & Pacific,1991,2.548509e+06,NaN,5.406636e+08,1.180850e+09,1.060276e+08,1.827719e+09
92,East Asia & Pacific,1992,3.672398e+06,NaN,5.413496e+08,1.200871e+09,1.093937e+08,1.851795e+09
93,East Asia & Pacific,1993,5.491195e+06,NaN,5.401269e+08,1.221713e+09,1.130018e+08,1.875024e+09
94,East Asia & Pacific,1994,1.066866e+07,NaN,5.393873e+08,1.241975e+09,1.167357e+08,1.898282e+09
95,East Asia & Pacific,1995,2.382784e+07,NaN,5.399083e+08,1.260592e+09,1.204864e+08,1.921173e+09
96,East Asia & Pacific,1996,4.831575e+07,NaN,5.348320e+08,1.283588e+09,1.251126e+08,1.943722e+09
97,East Asia & Pacific,1997,7.339024e+07,NaN,5.338225e+08,1.302299e+09,1.294001e+08,1.965715e+09
98,East Asia & Pacific,1998,1.026389e+08,6.700000e+04,5.340286e+08,1.319146e+09,1.334996e+08,1.986872e+09
99,East Asia & Pacific,1999,1.483685e+08,6.104670e+05,5.313604e+08,1.337483e+09,1.375975e+08,2.006642e+09

##### Regional metrics for each year and country

In [62]:
countryInd = indDF.join(wdicountryDimFinal
                                       , indDF.wb_country_code == wdicountryDim.wb_country_code
                                       , "inner") \
    .select(indDF.wb_country_code
            , wdicountryDim.country_iso_code
            , wdicountryDim.country_name
            , indDF.year
            , indDF.indicator_code
            , indDF.indicator_value)

showDF(countryInd)

,wb_country_code,country_iso_code,country_name,year,indicator_code,indicator_value
0,ARB,1A,Arab World,1960,IT.CEL.SETS,0.0
1,ARB,1A,Arab World,1960,SP.POP.0014.TO,39900284.0
2,ARB,1A,Arab World,1960,SP.POP.1564.TO,49063244.0
3,ARB,1A,Arab World,1960,SP.POP.65UP.TO,3234225.0
4,ARB,1A,Arab World,1960,SP.POP.TOTL,92197753.0
5,CSS,S3,Caribbean small states,1960,IT.CEL.SETS,0.0
6,CSS,S3,Caribbean small states,1960,SP.POP.0014.TO,1764314.0
7,CSS,S3,Caribbean small states,1960,SP.POP.1564.TO,2150293.0
8,CSS,S3,Caribbean small states,1960,SP.POP.65UP.TO,168897.0
9,CSS,S3,Caribbean small states,1960,SP.POP.TOTL,4194713.0
10,CEB,B8,Central Europe and the Baltics,1960,IT.CEL.SETS,0.0
11,CEB,B8,Central Europe and the Baltics,1960,SP.POP.0014.TO,26671417.0
12,CEB,B8,Central Europe and the Baltics,1960,SP.POP.1564.TO,58135802.0
13,CEB,B8,Central Europe and the Baltics,1960,SP.POP.65UP.TO,6594545.0
14,CEB,B8,Central Europe and the Baltics,1960,SP.POP.TOTL,91401764.0
15,EAR,V2,Early-demographic dividend,1960,IT.CEL.SETS,0.0
16,EAR,V2,Early-demographic dividend,1960,SP.POP.0014.TO,403998062.0
17,EAR,V2,Early-demographic dividend,1960,SP.POP.1564.TO,543576235.0
18,EAR,V2,Early-demographic dividend,1960,SP.POP.65UP.TO,32429092.0
19,EAR,V2,Early-demographic dividend,1960,SP.POP.TOTL,980003388.0

In [63]:
countryPivot = countryInd.groupBy('country_iso_code', 'country_name', 'year') \
    .pivot('indicator_code').sum('indicator_value')

In [64]:
showDF(countryPivot.orderBy('country_iso_code', 'country_name', 'year'), limitRows=100)

,country_iso_code,country_name,year,IT.CEL.SETS,IT.NET.BBND,SP.POP.0014.TO,SP.POP.1564.TO,SP.POP.65UP.TO,SP.POP.TOTL
0,1A,Arab World,1960,0.0,NaN,3.990028e+07,4.906324e+07,3234225.0,9.219775e+07
1,1A,Arab World,1961,NaN,NaN,4.133970e+07,5.003220e+07,3352609.0,9.472451e+07
2,1A,Arab World,1962,NaN,NaN,4.279288e+07,5.107210e+07,3469470.0,9.733444e+07
3,1A,Arab World,1963,NaN,NaN,4.424895e+07,5.220046e+07,3584776.0,1.000342e+08
4,1A,Arab World,1964,NaN,NaN,4.568528e+07,5.344920e+07,3698270.0,1.028328e+08
5,1A,Arab World,1965,0.0,NaN,4.708985e+07,5.483664e+07,3809935.0,1.057364e+08
6,1A,Arab World,1966,NaN,NaN,4.866838e+07,5.615091e+07,3939319.0,1.087586e+08
7,1A,Arab World,1967,NaN,NaN,5.018468e+07,5.764847e+07,4066216.0,1.118994e+08
8,1A,Arab World,1968,NaN,NaN,5.165774e+07,5.928680e+07,4191645.0,1.151362e+08
9,1A,Arab World,1969,NaN,NaN,5.310829e+07,6.101225e+07,4316656.0,1.184372e+08
10,1A,Arab World,1970,0.0,NaN,5.454216e+07,6.280121e+07,4442280.0,1.217856e+08
11,1A,Arab World,1971,NaN,NaN,5.613171e+07,6.444559e+07,4587447.0,1.251647e+08
12,1A,Arab World,1972,NaN,NaN,5.766821e+07,6.619851e+07,4732009.0,1.285987e+08
13,1A,Arab World,1973,NaN,NaN,5.920111e+07,6.808460e+07,4875588.0,1.321613e+08
14,1A,Arab World,1974,NaN,NaN,6.079685e+07,7.013818e+07,5017224.0,1.359523e+08
15,1A,Arab World,1975,0.0,NaN,6.250574e+07,7.237757e+07,5157335.0,1.400406e+08
16,1A,Arab World,1976,0.0,NaN,6.440913e+07,7.472836e+07,5315788.0,1.444533e+08
17,1A,Arab World,1977,0.0,NaN,6.641102e+07,7.727875e+07,5472123.0,1.491619e+08
18,1A,Arab World,1978,0.0,NaN,6.848724e+07,7.999614e+07,5627797.0,1.541112e+08
19,1A,Arab World,1979,0.0,NaN,7.058886e+07,8.284500e+07,5784698.0,1.592186e+08
20,1A,Arab World,1980,0.0,NaN,7.267636e+07,8.580017e+07,5944263.0,1.644208e+08
21,1A,Arab World,1981,0.0,NaN,7.487531e+07,8.869983e+07,6123853.0,1.696990e+08
22,1A,Arab World,1982,2330.0,NaN,7.704367e+07,9.171632e+07,6301811.0,1.750618e+08
23,1A,Arab World,1983,3564.0,NaN,7.918600e+07,9.483976e+07,6480241.0,1.805060e+08
24,1A,Arab World,1984,4936.0,NaN,8.131316e+07,9.806019e+07,6661954.0,1.860353e+08
25,1A,Arab World,1985,7976.0,NaN,8.342752e+07,1.013729e+08,6849912.0,1.916503e+08
26,1A,Arab World,1986,20756.0,NaN,8.573766e+07,1.045350e+08,7065460.0,1.973381e+08
27,1A,Arab World,1987,33793.0,NaN,8.797747e+07,1.078199e+08,7287560.0,2.030850e+08
28,1A,Arab World,1988,39447.0,NaN,9.016177e+07,1.112088e+08,7519114.0,2.088897e+08
29,1A,Arab World,1989,58750.0,NaN,9.228442e+07,1.147063e+08,7763206.0,2.147540e+08
30,1A,Arab World,1990,88618.0,NaN,9.527698e+07,1.193121e+08,8064277.0,2.226534e+08
31,1A,Arab World,1991,129904.0,NaN,9.724269e+07,1.231187e+08,8370338.0,2.287317e+08
32,1A,Arab World,1992,152281.0,NaN,9.846825e+07,1.258308e+08,8657337.0,2.329564e+08
33,1A,Arab World,1993,199350.0,NaN,1.002224e+08,1.300388e+08,8982024.0,2.392433e+08
34,1A,Arab World,1994,263401.0,NaN,1.017682e+08,1.343678e+08,9313402.0,2.454494e+08
35,1A,Arab World,1995,501551.0,NaN,1.035753e+08,1.398595e+08,9672492.0,2.531073e+08
36,1A,Arab World,1996,921229.0,NaN,1.048058e+08,1.441792e+08,10015939.0,2.590010e+08
37,1A,Arab World,1997,1616551.0,NaN,1.058867e+08,1.485823e+08,10353214.0,2.648222e+08
38,1A,Arab World,1998,2523542.0,NaN,1.068452e+08,1.530453e+08,10685323.0,2.705758e+08
39,1A,Arab World,1999,4105508.0,NaN,1.077524e+08,1.576263e+08,11015111.0,2.763938e+08
40,1A,Arab World,2000,9035245.0,NaN,1.086316e+08,1.623677e+08,11344828.0,2.823442e+08
41,1A,Arab World,2001,16679592.0,NaN,1.094353e+08,1.673248e+08,11672022.0,2.884322e+08
42,1A,Arab World,2002,25275670.0,NaN,1.102056e+08,1.724625e+08,11997113.0,2.946652e+08
43,1A,Arab World,2003,35121264.0,NaN,1.109946e+08,1.777989e+08,12320307.0,3.011138e+08
44,1A,Arab World,2004,52132880.0,365943.0,1.118714e+08,1.833530e+08,12638465.0,3.078628e+08
45,1A,Arab World,2005,84854578.0,861800.0,1.128867e+08,1.891263e+08,12952803.0,3.149658e+08
46,1A,Arab World,2006,125958920.0,1545503.0,1.139795e+08,1.951837e+08,13289587.0,3.224528e+08
47,1A,Arab World,2007,174488123.0,2811961.0,1.152315e+08,2.014426e+08,13616630.0,3.302907e+08
48,1A,Arab World,2008,214062659.0,4291118.0,1.166618e+08,2.077879e+08,13946303.0,3.383960e+08
49,1A,Arab World,2009,265270942.0,5945601.0,1.182674e+08,2.140688e+08,14292986.0,3.466292e+08
50,1A,Arab World,2010,312247811.0,7179449.0,1.200389e+08,2.201833e+08,14667787.0,3.548900e+08
51,1A,Arab World,2011,351957917.0,8573908.0,1.219345e+08,2.261433e+08,15080882.0,3.631587e+08
52,1A,Arab World,2012,381641879.0,10326701.0,1.240076e+08,2.319272e+08,15508701.0,3.714435e+08
53,1A,Arab World,2013,407704583.0,11423551.0,1.262137e+08,2.375284e+08,15963579.0,3.797057e+08
54,1A,Arab World,2014,415029269.0,13345099.0,1.284498e+08,2.429917e+08,16466321.0,3.879077e+08
55,1A,Arab World,2015,419014176.0,19216253.0,1.306295e+08,2.483654e+08,17033363.0,3.960283e+08
56,1A,Arab World,2016,417212275.0,21308222.0,1.331906e+08,2.531595e+08,17674286.0,4.040244e+08
57,1A,Arab World,2017,416484296.0,29518910.0,1.354687e+08,2.580532e+08,18377118.0,4.118990e+08
58,1A,Arab World,2018,420743880.0,30683979.0,1.376092e+08,2.630479e+08,19133535.0,4.197906e+08
59,1A,Arab World,2019,423703965.0,33227417.0,1.397829e+08,2.681579e+08,19929502.0,4.278703e+08
60,1W,World,1960,0.0,NaN,1.126349e+09,1.753096e+09,150593477.0,2.147484e+09
61,1W,World,1961,NaN,NaN,1.147020e+09,1.769960e+09,154074057.0,2.147484e+09
62,1W,World,1962,NaN,NaN,1.173732e+09,1.792731e+09,157530855.0,2.147484e+09
63,1W,World,1963,NaN,NaN,1.204871e+09,1.823073e+09,161120729.0,2.147484e+09
64,1W,World,1964,NaN,NaN,1.233542e+09,1.856413e+09,164572636.0,2.147484e+09
65,1W,World,1965,0.0,NaN,1.259351e+09,1.894057e+09,167991662.0,2.147484e+09
66,1W,World,1966,NaN,NaN,1.288870e+09,1.929094e+09,173456518.0,2.147484e+09
67,1W,World,1967,NaN,NaN,1.313633e+09,1.968303e+09,178874982.0,2.147484e+09
68,1W,World,1968,NaN,NaN,1.335834e+09,2.011044e+09,184260607.0,2.147484e+09
69,1W,World,1969,NaN,NaN,1.358613e+09,2.057389e+09,189772482.0,2.147484e+09
70,1W,World,1970,0.0,NaN,1.382005e+09,2.103969e+09,195173189.0,2.147484e+09
71,1W,World,1971,NaN,NaN,1.408244e+09,2.147484e+09,201794514.0,2.147484e+09
72,1W,World,1972,NaN,NaN,1.433034e+09,2.147484e+09,208145544.0,2.147484e+09
73,1W,World,1973,NaN,NaN,1.456473e+09,2.147484e+09,214275772.0,2.147484e+09
74,1W,World,1974,NaN,NaN,1.477990e+09,2.147484e+09,220445208.0,2.147484e+09
75,1W,World,1975,0.0,NaN,1.496244e+09,2.147484e+09,226568971.0,2.147484e+09
76,1W,World,1976,0.0,NaN,1.514175e+09,2.147484e+09,233893569.0,2.147484e+09
77,1W,World,1977,0.0,NaN,1.529013e+09,2.147484e+09,241259332.0,2.147484e+09
78,1W,World,1978,0.0,NaN,1.541823e+09,2.147484e+09,248490419.0,2.147484e+09
79,1W,World,1979,0.0,NaN,1.553823e+09,2.147484e+09,255202292.0,2.147484e+09
80,1W,World,1980,23482.0,NaN,1.565437e+09,2.147484e+09,261099059.0,2.147484e+09
81,1W,World,1981,63585.0,NaN,1.577942e+09,2.147484e+09,267265264.0,2.147484e+09
82,1W,World,1982,101509.0,NaN,1.592062e+09,2.147484e+09,272476835.0,2.147484e+09
83,1W,World,1983,148855.0,NaN,1.606565e+09,2.147484e+09,277139785.0,2.147484e+09
84,1W,World,1984,319252.0,NaN,1.620600e+09,2.147484e+09,281896206.0,2.147484e+09
85,1W,World,1985,750629.0,NaN,1.634815e+09,2.147484e+09,287241476.0,2.147484e+09
86,1W,World,1986,1450136.0,NaN,1.655399e+09,2.147484e+09,294145832.0,2.147484e+09
87,1W,World,1987,2545275.0,NaN,1.675818e+09,2.147484e+09,301409882.0,2.147484e+09
88,1W,World,1988,4327955.0,NaN,1.695930e+09,2.147484e+09,309006726.0,2.147484e+09
89,1W,World,1989,7353067.0,NaN,1.715235e+09,2.147484e+09,316916003.0,2.147484e+09
90,1W,World,1990,11210120.0,NaN,1.734028e+09,2.147484e+09,325174848.0,2.147484e+09
91,1W,World,1991,16276507.0,NaN,1.756492e+09,2.147484e+09,334523210.0,2.147484e+09
92,1W,World,1992,23245205.0,NaN,1.773060e+09,2.147484e+09,344135004.0,2.147484e+09
93,1W,World,1993,34163549.0,NaN,1.786795e+09,2.147484e+09,353851435.0,2.147484e+09
94,1W,World,1994,55514042.0,NaN,1.799275e+09,2.147484e+09,363255788.0,2.147484e+09
95,1W,World,1995,90743624.0,NaN,1.811869e+09,2.147484e+09,372220037.0,2.147484e+09
96,1W,World,1996,145046034.0,NaN,1.818373e+09,2.147484e+09,382704217.0,2.147484e+09
97,1W,World,1997,214956760.0,NaN,1.827837e+09,2.147484e+09,392273227.0,2.147484e+09
98,1W,World,1998,318099862.0,NaN,1.837346e+09,2.147484e+09,401350311.0,2.147484e+09
99,1W,World,1999,490985397.0,NaN,1.842898e+09,2.147484e+09,410527906.0,2.147484e+09

In [65]:
recentInd = indData \
    .select("wb_country_code", "indicator_code", "2019") \
    .filter(col('indicator_code').isin('IC.REG.COST.PC.ZS', 'IC.REG.DURS', 'IC.REG.PROC', \
        'NY.GNP.ATLS.CD', 'NY.GDP.MKTP.KD', 'NY.GDP.PCAP.KD', 'IQ.CPA.BREG.XQ', 'IC.BUS.EASE.XQ')) \
    .withColumnRenamed("2019", "indicator_value") \
    .withColumn("indicator_value", col("indicator_value").cast(DecimalType(38, 2)))

showDF(recentInd)

   wb_country_code     indicator_code   indicator_value
0              ARB  IC.REG.COST.PC.ZS             27.80
1              ARB     IQ.CPA.BREG.XQ              2.42
2              ARB     IC.BUS.EASE.XQ              None
3              ARB     NY.GDP.MKTP.KD  2750603986533.94
4              ARB     NY.GDP.PCAP.KD           6428.59
5              ARB     NY.GNP.ATLS.CD  2777310723208.36
6              ARB        IC.REG.PROC              6.64
7              ARB        IC.REG.DURS             19.65
8              CSS  IC.REG.COST.PC.ZS             18.08
9              CSS     IQ.CPA.BREG.XQ              3.20
10             CSS     IC.BUS.EASE.XQ              None
11             CSS     NY.GDP.MKTP.KD    68816032575.97
12             CSS     NY.GDP.PCAP.KD           9297.73
13             CSS     NY.GNP.ATLS.CD    74667625354.04
14             CSS        IC.REG.PROC              6.62
15             CSS        IC.REG.DURS             19.65
16             CEB  IC.REG.COST.PC.ZS              2.61
17             CEB     IQ.CPA.BREG.XQ              None
18             CEB     IC.BUS.EASE.XQ              None
19             CEB     NY.GDP.MKTP.KD  1739248634624.54

In [66]:
businessIndexInd = indData \
    .select("wb_country_code", "indicator_code", "2020") \
    .filter(col('indicator_code').isin('IC.BUS.EASE.XQ')) \
    .withColumnRenamed("2020", "indicator_value") \
    .withColumn("indicator_value", col("indicator_value").cast(DecimalType(38, 2)))

In [68]:
allInd = recentInd.union(businessIndexInd)

In [69]:
countryBusinessStrtupPivot = allInd.join(wdicountryDimFinal
                                       , recentInd.wb_country_code == wdicountryDim.wb_country_code
                                       , "inner") \
    .select(wdicountryDimFinal.country_iso_code
            , wdicountryDimFinal.country_name
            , recentInd.indicator_code
            , recentInd.indicator_value) \
    .groupBy('country_iso_code', 'country_name').pivot('indicator_code').sum('indicator_value') \
    .withColumnRenamed('country_iso_code', 'Country ISO Code') \
    .withColumnRenamed('country_name', 'Country Name') \
    .withColumnRenamed('NY.GNP.ATLS.CD', 'GNI') \
    .withColumnRenamed('IC.REG.DURS', 'Startup Time') \
    .withColumnRenamed('IC.REG.PROC', 'Startup Procedures') \
    .withColumnRenamed('IC.REG.COST.PC.ZS', 'Startup Cost Pct of GNI') \
    .withColumnRenamed('NY.GDP.MKTP.KD', 'GDP') \
    .withColumnRenamed('NY.GDP.PCAP.KD', 'GDP Per Capita') \
    .withColumnRenamed('IQ.CPA.BREG.XQ', 'Business Regulation') \
    .withColumnRenamed('IC.BUS.EASE.XQ', 'Ease of business') \
    .withColumn('Startup Cost', (col('GNI') * col('Startup Cost Pct of GNI') / lit(100.0)).cast(DecimalType(38, 2))) \
    .filter(col('GNI') > 0) \
    .filter(col('Startup Time').isNotNull()) \
    .filter(col('Startup Procedures').isNotNull()) \
    .filter(col('Startup Cost').isNotNull())

In [70]:
showDF(countryBusinessStrtupPivot, limitRows = 500)

,Country ISO Code,Country Name,Ease of business,Startup Cost Pct of GNI,Startup Time,Startup Procedures,Business Regulation,GDP,GDP Per Capita,GNI,Startup Cost
0,BJ,Benin,149.00,3.50,8.50,6.00,3.50,14867185272.71,1259.81,14799214859.05,517972520.07
1,XC,Euro area,None,3.21,9.82,5.05,None,14169747200125.60,41359.73,13730527132659.50,440749920958.37
2,LY,Libya,186.00,24.60,35.00,10.00,None,55047620625.16,8122.17,51755222833.29,12731784816.99
3,KZ,Kazakhstan,25.00,0.20,5.00,4.00,None,213250078007.79,11518.36,163361260005.36,326722520.01
4,JM,Jamaica,71.00,4.20,3.00,2.00,None,14349236596.00,4866.99,15695263912.86,659201084.34
5,NO,Norway,9.00,0.80,4.00,4.00,None,494981582297.86,92556.32,441210211631.37,3529681693.05
6,AG,Antigua and Barbuda,113.00,8.00,19.00,9.00,None,1525166899.84,15704.27,1611791996.79,128943359.74
7,CG,Congo,180.00,62.20,49.50,11.00,2.00,11654686638.11,2166.09,9248582343.48,5752618217.64
8,AR,Argentina,126.00,5.00,11.50,12.00,None,437813398153.62,9742.46,500111583144.61,25005579157.23
9,HT,Haiti,179.00,179.70,97.00,12.00,2.00,14022671611.23,1245.01,15027198078.38,27003874946.85
10,QA,Qatar,77.00,6.30,8.70,8.00,None,179217942561.53,63281.67,173269092486.30,10915952826.64
11,EU,European Union,None,3.20,12.17,5.37,None,16605351894524.00,37105.93,16026517409439.00,512848557102.05
12,XE,Heavily indebted poor countries (HIPC),None,44.37,22.54,7.26,2.86,749467241806.19,934.84,777079718025.77,344790270888.03
13,BB,Barbados,128.00,7.30,16.00,7.00,None,4621053250.00,16099.83,4988851628.39,364186168.87
14,LT,Lithuania,11.00,0.50,5.50,4.00,None,51862375194.10,18609.72,53162171410.21,265810857.05
15,SL,Sierra Leone,163.00,7.60,8.00,5.00,3.00,3816410757.73,488.46,4189148600.91,318375293.67
16,S4,Other small states,None,15.83,15.58,7.23,3.05,429734639054.02,13703.10,426265078392.50,67477761909.53
17,OM,Oman,68.00,3.10,4.30,4.00,None,75032818560.74,15082.02,70217006215.23,2176727192.67
18,PK,Pakistan,108.00,6.70,16.50,5.00,3.50,256728822531.88,1185.46,304452242188.85,20398300226.65
19,SK,Slovak Republic,45.00,1.00,21.50,7.00,None,114530788157.15,20999.13,104778879969.88,1047788799.70
20,CN,China,31.00,1.10,8.50,4.00,None,11537484336927.90,8254.53,14555441979424.80,160109861773.67
21,T2,Latin America & Caribbean (IDA & IBRD),None,32.97,29.80,8.20,2.88,5998518431036.33,9511.72,5484799086028.94,1808338258663.74
22,SN,Senegal,123.00,22.60,6.00,4.00,3.50,25821124786.01,1584.47,23752374208.24,5368036571.06
23,MY,Malaysia,12.00,11.10,17.50,8.00,None,398946603155.68,12486.68,358835301422.96,39830718457.95
24,BO,Bolivia,150.00,37.30,39.50,12.00,None,29702635313.94,2579.90,40563574718.82,15130213370.12
25,SA,Saudi Arabia,62.00,5.40,10.40,3.00,None,703949827122.00,20542.17,782621821770.23,42261578375.59
26,IL,Israel,35.00,2.70,11.00,3.00,None,319390655678.17,35278.92,390264407455.91,10537139001.31
27,V4,Post-demographic dividend,None,3.43,11.19,5.33,None,49746025348666.20,44698.88,51762057492803.80,1775438572003.17
28,MT,Malta,88.00,6.70,20.50,5.00,None,14564729001.72,28975.71,14089979964.75,944028657.64
29,XN,Lower middle income,None,23.48,22.15,7.36,3.11,6220016820011.15,2135.00,6340060139660.36,1488646120792.25
30,CL,Chile,59.00,2.70,4.00,6.00,None,286013743469.52,15091.45,284503968489.50,7681607149.22
31,ZF,Sub-Saharan Africa (excluding high income),None,37.59,21.67,7.59,2.97,1818641581473.11,1644.94,1702841249381.42,640098025642.48
32,JP,Japan,29.00,7.50,11.10,8.00,None,6210698351093.34,49187.83,5266925796679.99,395019434751.00
33,DZ,Algeria,157.00,11.30,18.00,12.00,None,202339167644.01,4699.76,172476083947.37,19489797486.05
34,T5,South Asia (IDA & IBRD),None,8.26,14.56,7.13,3.29,3547700986303.83,1932.53,3660222195888.28,302334353380.37
35,KN,St. Kitts and Nevis,139.00,6.20,18.50,7.00,None,913748421.16,17294.70,1019355331.91,63200030.58
36,VC,St. Vincent and the Grenadines,130.00,13.90,10.00,7.00,3.50,758962832.15,6862.91,825439166.54,114736044.15
37,TD,Chad,182.00,169.30,58.00,8.00,2.50,12976290262.39,813.72,11171839251.20,18913923852.28
38,ZT,IDA & IBRD total,None,25.31,22.97,7.21,2.97,32237689036906.90,4969.63,33980135523628.50,8600372301030.37
39,LR,Liberia,175.00,6.30,18.00,5.00,2.50,2548948906.88,516.26,2851956736.98,179673274.43
40,7E,Europe & Central Asia (excluding high income),None,3.73,11.35,4.95,3.50,3857621118940.52,9658.43,3209726796061.58,119722809493.10
41,ML,Mali,148.00,55.10,11.00,5.00,3.00,15562204139.93,791.65,17098531481.90,9421290846.53
42,SV,El Salvador,91.00,43.30,16.50,9.00,None,23054399017.77,3572.36,25807942165.84,11174838957.81
43,KG,Kyrgyz Republic,80.00,1.40,10.00,4.00,3.00,7208211269.05,1116.36,8000279347.83,112003910.87
44,HU,Hungary,52.00,4.50,7.00,6.00,None,171680578830.97,17572.31,161251772280.71,7256329752.63
45,TJ,Tajikistan,106.00,17.50,7.00,3.00,3.00,10450075054.38,1121.13,9624420838.52,1684273646.74
46,XO,Low & middle income,None,27.14,23.66,7.29,2.97,30967838669636.30,4810.40,32790188019945.10,8899257028613.10
47,NE,Niger,132.00,7.90,10.00,4.00,3.50,13127408384.98,563.15,13877717217.91,1096339660.21
48,MD,Moldova,48.00,4.00,4.00,3.00,4.00,9887013489.61,3720.23,12194849955.35,487793998.21
49,TR,Turkey,33.00,6.00,7.00,7.00,None,1261905557967.35,15125.39,808698508768.27,48521910526.10
50,XD,High income,None,4.09,10.93,5.21,None,53952920148048.40,43656.43,56050278836156.60,2292456404398.81
51,LU,Luxembourg,72.00,1.60,16.50,5.00,None,68847100694.67,111062.34,45817640847.24,733082253.56
52,AM,Armenia,47.00,0.80,4.00,3.00,None,13996188672.35,4732.07,13834503213.99,110676025.71
53,V2,Early-demographic dividend,None,28.18,30.83,7.95,3.02,12358836146500.60,3756.15,11932368245304.40,3362541371526.78
54,TO,Tonga,103.00,6.00,16.00,4.00,2.50,455079252.29,4355.08,522803467.45,31368208.05
55,TH,Thailand,21.00,3.00,6.00,5.00,None,452674624298.25,6501.56,505271073438.35,15158132203.15
56,XG,IDA total,None,34.33,22.53,6.85,2.93,2174034852990.90,1301.27,2314657809229.36,794622025908.44
57,OE,OECD members,None,3.69,9.11,5.08,None,53460596924374.20,39310.32,54639652148114.40,2016203164265.42
58,VN,Vietnam,70.00,5.60,16.00,8.00,None,200857611961.48,2082.24,249440754196.25,13968682234.99
59,ID,Indonesia,73.00,5.70,12.60,11.00,None,1204479845861.69,4450.72,1097222981867.23,62541709966.43
60,SE,Sweden,10.00,0.50,7.50,4.00,None,596689588251.79,58012.96,573770768805.44,2868853844.03
61,MZ,Mozambique,138.00,106.90,17.00,10.00,3.00,17875790908.66,588.68,14772880982.01,15792209769.77
62,CR,Costa Rica,74.00,9.60,23.00,10.00,None,50712542521.36,10046.94,59048606974.20,5668666269.52
63,HK,"Hong Kong SAR, China",3.00,0.50,1.50,2.00,None,284743319786.04,37928.35,381410073089.56,1907050365.45
64,NZ,New Zealand,1.00,0.20,0.50,1.00,None,191728455432.51,38992.97,210229497186.83,420458994.37
65,GM,The Gambia,155.00,49.50,8.00,6.00,3.00,1913886426.74,815.22,1770494866.93,876394959.13
66,IE,Ireland,24.00,0.10,11.00,3.00,None,393849945070.16,79703.41,316269271498.64,316269271.50
67,PA,Panama,86.00,5.80,6.00,5.00,None,50575748118.17,11910.16,63468433123.04,3681169121.14
68,CY,Cyprus,54.00,5.60,6.00,5.00,None,28678431658.49,32093.03,24628873680.26,1379216926.09
69,NA,Namibia,104.00,8.90,54.00,10.00,None,14383460523.99,5766.00,12628884040.94,1123970679.64
70,KI,Kiribati,164.00,34.90,31.00,7.00,2.50,210571182.63,1790.48,393396142.74,137295253.82
71,CD,Dem. Rep. Congo,183.00,16.30,7.00,4.00,3.00,36767977989.35,423.64,46312643765.92,7548960933.84
72,SG,Singapore,2.00,0.40,1.50,2.00,None,335538884575.29,58829.64,339860544637.51,1359442178.55
73,SR,Suriname,162.00,93.50,66.00,8.00,None,4678196479.83,8046.95,3149267102.67,2944564741.00
74,GE,Georgia,7.00,2.10,1.00,1.00,None,18521919918.93,4978.50,17789951552.08,373588982.59
75,UY,Uruguay,101.00,24.10,6.50,5.00,None,50531997748.86,14597.31,56185817509.95,13540782019.90
76,UZ,Uzbekistan,69.00,2.20,3.00,3.00,3.50,82574625978.66,2458.99,60395960085.74,1328711121.89
77,ZG,Sub-Saharan Africa,None,36.30,21.53,7.54,2.97,1833900426453.77,1656.70,1720841441468.46,624665443253.05
78,PL,Poland,40.00,11.60,37.00,5.00,None,660941995821.31,17406.55,582676196507.22,67590438794.84
79,XF,IBRD only,None,15.62,23.44,7.59,3.83,30069396036646.20,6243.34,31672435152814.20,4947234370869.58
80,HR,Croatia,51.00,6.20,19.50,7.00,None,67154066752.82,16509.91,60936328992.83,3778052397.56
81,JO,Jordan,75.00,23.30,12.50,7.00,None,33596292796.43,3325.81,44542115024.96,10378312800.82
82,EC,Ecuador,129.00,33.00,48.50,11.00,None,88554747782.67,5097.07,105721485330.54,34888090159.08
83,DE,Germany,22.00,6.50,8.00,9.00,None,3944379455526.15,47446.73,4038526156964.75,262504200202.71
84,WS,Samoa,98.00,6.90,9.00,4.00,3.50,762625022.86,3869.29,826122746.29,57002469.49
85,Z7,Europe & Central Asia,None,3.31,11.76,5.26,3.50,24545350813760.00,26646.71,23217237939524.20,768490575798.25
86,HN,Honduras,133.00,28.10,42.00,11.00,2.50,21843374258.67,2241.24,23303431055.96,6548264126.72
87,MR,Mauritania,152.00,15.80,6.00,4.00,3.00,7947658539.43,1756.12,7493576073.08,1183985019.55
88,BS,The Bahamas,119.00,11.00,11.50,7.00,None,11259359315.80,28908.55,13030481742.06,1433352991.63
89,T6,Sub-Saharan Africa (IDA & IBRD),None,36.30,21.53,7.54,2.97,1833900426453.77,1656.70,1720841441468.46,624665443253.05
90,MG,Madagascar,161.00,30.20,8.00,5.00,3.00,13495494373.79,500.40,14071878045.93,4249707169.87
91,FR,France,32.00,0.70,4.00,5.00,None,2971919320115.84,44317.39,2846910513780.22,19928373596.46
92,LB,Lebanon,143.00,42.30,15.00,8.00,None,39710040166.84,5792.26,50560914393.79,21387266788.57
93,XL,Least developed countries: UN classification,None,40.70,26.22,7.20,2.84,1021706314294.92,988.69,1137034863479.73,462773189436.25
94,BH,Bahrain,43.00,1.00,8.30,6.00,None,34321808510.64,20912.99,36288393542.74,362883935.43
95,RW,Rwanda,38.00,0.00,4.00,5.00,4.50,11380725067.39,901.30,10448062740.35,0.00
96,TT,Trinidad and Tobago,105.00,0.70,10.50,7.00,None,21071140165.86,15105.05,23723236427.04,166062654.99
97,TZ,Tanzania,141.00,40.60,29.50,10.00,3.00,55482146264.31,985.45,60816325347.60,24691428091.13
98,VU,Vanuatu,107.00,42.50,18.00,7.00,3.00,865850906.76,2887.31,963414155.68,409451016.16
99,NP,Nepal,94.00,20.20,22.50,8.00,3.50,24575559443.46,859.02,31058955972.26,6273909106.40
100,F1,Fragile and conflict affected situations,None,54.86,34.61,7.76,2.58,1818619280069.01,2278.58,1637667536220.55,898424410370.59
101,SZ,Swaziland,121.00,10.70,21.50,12.00,None,5531910970.77,4818.19,4218020741.64,451328219.36
102,ZQ,Middle East & North Africa,None,16.00,19.52,6.29,2.50,3498512908315.20,7660.29,3598891346795.95,575822615487.35
103,GN,Guinea,156.00,33.80,15.00,6.00,3.00,11760762588.52,920.88,11883775469.24,4016716108.60
104,NL,Netherlands,42.00,4.00,3.50,4.00,None,961781942975.73,55488.97,920333911290.69,36813356451.63
105,XK,Kosovo,57.00,1.40,4.50,3.00,4.00,8006622220.85,4462.38,8333443013.98,116668202.20
106,AO,Angola,177.00,11.10,36.00,8.00,None,99013511554.03,3111.16,94225022061.99,10458977448.88
107,ZJ,Latin America & Caribbean,None,30.56,28.09,8.06,2.88,6199383095038.63,9590.17,5684752192808.37,1737260270122.24
108,BW,Botswana,87.00,0.60,48.00,9.00,None,18643743999.97,8092.97,17629591427.69,105777548.57
109,Z4,East Asia & Pacific,None,15.77,22.85,6.14,2.71,24951686937652.40,10660.25,27464850933313.10,4331206992183.48
110,T4,East Asia & Pacific (IDA & IBRD),None,20.49,29.65,7.29,2.71,14322069251788.60,6925.62,17350612868821.60,3555140576821.55
111,IQ,Iraq,172.00,34.20,26.50,8.00,None,219703225580.15,5589.02,225739218618.46,77202812767.51
112,XP,Middle income,None,20.39,23.51,7.34,3.11,30420330293777.80,5272.86,32229193354192.30,6571532524919.81
113,PH,Philippines,95.00,23.30,33.00,13.00,None,360858880823.88,3337.68,415750092385.41,96869771525.80
114,S3,Caribbean small states,None,18.08,19.65,6.62,3.20,68816032575.97,9297.73,74667625354.04,13499906664.01
115,GB,United Kingdom,8.00,0.00,4.50,4.00,None,2921446026408.24,43711.71,2821759222246.37,0.00
116,DJ,Djibouti,112.00,39.70,14.00,6.00,3.00,None,None,3225282320.45,1280437081.22
117,XT,Upper middle income,None,17.42,24.82,7.33,3.14,24194637295031.30,8471.92,25884422645215.20,4509066424796.49
118,EE,Estonia,18.00,1.00,3.50,3.00,None,27667385533.08,20856.02,30856126009.37,308561260.09
119,CZ,Czech Republic,41.00,1.10,24.50,9.00,None,258911043395.80,24265.99,234060676773.31,2574667444.51
120,AU,Australia,14.00,0.70,2.00,3.00,None,1450499018770.09,57186.62,1397555434163.32,9782888039.14
121,SB,Solomon Islands,136.00,27.40,9.00,7.00,3.00,1171806612.54,1749.43,1598869079.20,438090127.70
122,MM,Myanmar,165.00,13.30,7.00,6.00,2.50,86931311984.48,1608.49,75186226008.59,9999768059.14
123,AF,Afghanistan,173.00,6.80,8.50,4.00,2.00,21808863988.03,573.29,20043574923.81,1362963094.82
124,DK,Denmark,4.00,0.20,3.50,5.00,None,382978543873.05,65820.24,372104765918.90,744209531.84
125,AE,United Arab Emirates,16.00,17.20,3.80,2.00,None,404700030656.58,41420.48,424763690688.97,73059354798.50
126,BD,Bangladesh,168.00,8.70,19.50,9.00,3.00,209974367461.63,1287.82,316235042683.12,27512448713.43
127,ET,Ethiopia,159.00,45.40,32.00,11.00,3.50,67542461142.92,602.63,94972317026.59,43117431930.07
128,V3,Late-demographic dividend,None,6.25,11.27,5.56,3.43,20747916220671.70,9026.83,23046787636917.70,1440424227307.36
129,GR,Greece,79.00,1.50,4.00,3.00,None,257451427354.90,24024.23,211647507220.44,3174712608.31
130,US,United States,6.00,1.00,4.20,6.00,None,18300385513295.60,55753.14,21615817525647.10,216158175256.47
131,FI,Finland,20.00,0.70,13.00,3.00,None,272688247151.84,49397.23,276085216714.98,1932596517.00
132,DM,Dominica,111.00,15.20,12.00,5.00,3.50,496699506.91,6917.05,568754026.97,86450612.10
133,ME,Montenegro,50.00,1.20,12.00,8.00,None,5343969842.25,8589.70,5634418849.95,67613026.20
134,T7,Europe & Central Asia (IDA & IBRD),None,4.05,13.28,5.09,3.50,4820006239341.66,10460.09,4098079875465.81,165972234956.37
135,XI,IDA only,None,37.55,23.40,6.84,2.87,1188620560265.01,1071.67,1349744961674.62,506829233108.82
136,KR,Korea,5.00,14.60,8.00,3.00,None,1482760164322.84,28675.03,1747192990746.33,255090176648.96
137,S2,Pacific island small states,None,32.08,20.44,6.67,2.69,8539576334.56,3424.47,10737385366.77,3444553225.66
138,ZW,Zimbabwe,140.00,76.60,27.00,9.00,3.00,17327035948.43,1183.10,20392453489.88,15620619373.25
139,ZM,Zambia,85.00,34.00,8.50,7.00,4.00,29539096537.49,1653.83,25615982722.24,8709434125.56
140,CA,Canada,23.00,0.30,1.50,2.00,None,1939183469806.35,51588.76,1742831173097.86,5228493519.29
141,BN,Brunei,66.00,1.10,5.50,3.00,None,14006979904.66,32327.41,13965649019.00,153622139.21
142,GA,Gabon,169.00,13.30,10.00,7.00,None,19938879843.22,9177.52,15578254606.02,2071907862.60
143,BR,Brazil,124.00,4.20,16.60,11.00,None,2347237948499.32,11121.74,1926332314781.08,80905957220.81
144,XM,Low income,None,51.72,24.21,7.11,2.70,541195602120.42,809.62,547946892212.28,283398132652.19
145,XJ,Latin America & Caribbean (excluding high income),None,39.23,34.56,8.63,2.88,5664136738357.90,9228.39,5139021945386.53,2016038309175.14
146,BF,Burkina Faso,151.00,42.80,13.00,3.00,3.50,16708316591.36,822.20,15877229160.20,6795454080.57
147,MW,Malawi,109.00,32.60,37.00,7.00,3.00,9754076228.00,523.60,7164348082.17,2335577474.79
148,4E,East Asia & Pacific (excluding high income),None,21.41,29.73,7.25,2.71,14349473898603.20,6853.73,17383395733933.80,3721785026635.23
149,BZ,Belize,135.00,34.30,48.00,9.00,None,1619911044.40,4149.86,1750393131.43,600384844.08
150,NI,Nicaragua,142.00,65.70,14.00,7.00,2.50,11541046299.33,1763.20,12342046377.57,8108724470.06
151,BG,Bulgaria,61.00,1.00,23.00,7.00,None,63191572277.62,9058.74,66755079945.39,667550799.45
152,1A,Arab World,None,27.80,19.65,6.64,2.42,2750603986533.94,6428.59,2777310723208.36,772092381051.92
153,PT,Portugal,39.00,1.90,6.50,6.00,None,253228421113.57,24658.50,238204191346.90,4525879635.59
154,MV,Maldives,147.00,4.10,12.00,6.00,3.50,4500657090.10,8476.56,5137430107.16,210634634.39
155,BY,Belarus,49.00,0.50,8.50,4.00,None,63224483611.52,6678.51,59501934102.27,297509670.51
156,IN,India,63.00,7.20,17.50,10.00,None,2940156656485.46,2151.73,2893205300676.60,208310781648.72
157,ST,SÃ£o TomÃ© and Principe,170.00,12.40,7.00,6.00,3.00,277211853.72,1289.02,414568939.93,51406548.55
158,LV,Latvia,19.00,1.50,5.50,4.00,None,31985858419.13,16722.10,33932484903.72,508987273.56
159,SD,Sudan,171.00,17.80,34.50,10.00,2.50,64784090846.27,1724.09,33126327954.13,5896486375.84
160,LA,Lao PDR,154.00,4.60,173.00,9.00,3.00,13195413134.66,1840.50,18438736408.40,848181874.79
161,RU,Russia,28.00,1.00,10.10,4.00,None,1762462643295.84,12011.53,1651390045138.74,16513900451.39
162,CM,Cameroon,167.00,24.80,13.50,6.00,3.00,39288422138.94,1518.31,38882917421.44,9642963520.52
163,UG,Uganda,116.00,40.50,24.00,13.00,3.00,42611043087.04,962.54,34748453235.88,14073123560.53
164,CF,Central African Republic,184.00,127.80,22.00,10.00,2.00,1822841756.72,384.15,2449530613.43,3130500123.96
165,BT,Bhutan,89.00,3.70,12.00,8.00,3.50,2489357934.58,3262.20,2395585957.87,88636680.44
166,V1,Pre-demographic dividend,None,42.47,20.65,7.24,2.81,1414145422385.15,1496.60,1348687318667.38,572787504238.04
167,CV,Cabo Verde,137.00,13.00,9.00,9.00,3.50,2148955357.14,3907.65,1995338510.73,259394006.39
168,XH,IDA blend,None,21.89,19.18,6.87,3.18,983276122767.85,1750.93,971212487632.69,212598413542.80
169,IS,Iceland,26.00,1.90,11.50,5.00,None,18546969949.76,51332.14,26320620293.64,500091785.58
170,KM,Comoros,160.00,54.20,16.00,9.00,3.00,1190720115.49,1399.39,1193373659.81,646808523.62
171,CO,Colombia,67.00,14.10,10.00,7.00,None,394571111125.16,7838.21,327710695942.63,46207208127.91
172,LS,Lesotho,122.00,6.10,15.00,6.00,3.50,2874585678.51,1352.58,2922650208.88,178281662.74
173,PW,Palau,145.00,2.20,28.00,8.00,None,217497826.95,12077.84,296935028.52,6532570.63
174,TL,Timor-Leste,181.00,0.70,13.00,6.00,2.00,1264348739.37,977.75,2606895288.11,18248267.02
175,PE,Peru,76.00,9.40,26.00,8.00,None,210883429892.02,6486.63,219156891208.55,20600747773.60
176,GT,Guatemala,96.00,17.30,15.00,6.00,None,56673426295.84,3413.23,76502444236.07,13234922852.84
177,MU,Mauritius,13.00,0.80,4.50,4.00,None,13786807917.44,10892.54,16322003287.70,130576026.30
178,S1,Small states,None,19.49,17.59,6.96,2.96,507042937239.14,12290.32,511629353045.89,99716560908.64
179,ZA,South Africa,84.00,0.20,40.00,7.00,None,430166850678.94,7345.96,353529193704.07,707058387.41
180,ES,Spain,30.00,3.90,12.50,7.00,None,1572012697558.03,33392.53,1430766794437.19,55799904983.05
181,BI,Burundi,166.00,12.30,5.00,4.00,3.00,2399222284.76,208.07,3185534657.84,391820762.91
182,TG,Togo,97.00,8.10,2.50,3.00,3.50,5625948587.72,696.08,5604570726.67,453970228.86
183,LK,Sri Lanka,99.00,8.70,8.00,7.00,4.00,87466701368.69,4011.68,87694063378.61,7629383513.94
184,GY,Guyana,134.00,9.40,18.00,7.00,2.50,4780623910.20,6107.35,5188279659.63,487698288.01
185,RO,Romania,55.00,0.30,20.00,6.00,None,234057305195.07,12091.90,244434687555.68,733304062.67
186,MN,Mongolia,81.00,1.20,12.00,8.00,3.50,14037996021.87,4352.64,12234606441.32,146815277.30
187,LC,St. Lucia,93.00,17.00,11.00,5.00,3.50,1709223245.14,9350.75,2014242097.42,342421156.56
188,NG,Nigeria,131.00,26.10,7.20,7.00,3.50,477161826016.25,2374.37,407589062831.79,106380745399.10
189,RS,Serbia,44.00,2.30,7.00,7.00,None,50213615458.74,7230.21,48848120108.28,1123506762.49
190,BE,Belgium,46.00,5.30,5.00,5.00,None,546851155613.12,47618.30,551595935082.79,29234584559.39
191,GH,Ghana,118.00,12.30,13.00,8.00,3.50,57315905531.19,1884.28,67507595666.33,8303434266.96
192,KE,Kenya,56.00,22.40,23.00,7.00,4.00,65060160105.08,1237.50,91823754976.10,20568521114.65
193,GQ,Equatorial Guinea,178.00,59.10,33.00,16.00,None,12526213820.51,9237.72,8765711321.81,5180535391.19
194,PR,Puerto Rico,65.00,1.20,5.50,6.00,None,88415695429.70,27684.46,70178335051.10,842140020.61
195,AZ,Azerbaijan,34.00,1.20,3.50,3.00,None,58937036212.31,5879.99,44873711541.17,538484538.49
196,PG,Papua New Guinea,120.00,18.60,41.00,6.00,3.00,21852485468.80,2490.00,24151319694.32,4492145463.14
197,8S,South Asia,None,8.26,14.56,7.13,3.29,3547700986303.83,1932.53,3660222195888.28,302334353380.37

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [71]:
# Here we are going to write the country dimension to an output csv file
wdicountryDimFinal \
    .coalesce(1) \
    .write.csv('/home/jovyan/work/data/CountryDim', mode='overwrite', header='true')

In [72]:
#Write the yearly totals to a CSV File
yrPivotDF \
    .select(col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('/home/jovyan/work/data/YearlyStats', mode='overwrite', header='true')

In [74]:
#Write the regional-yearly totals to a CSV File
countryPivot.filter('country_iso_code is not null') \
    .orderBy('country_iso_code','country_name', 'year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select(col('country_iso_code')
            , col('country_name')
            , col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('/home/jovyan/work/data/CountryStats', mode='overwrite', header='true')

In [75]:
countryBusinessStrtupPivot \
    .select("Country ISO Code", "Country Name", "GDP", "GDP Per Capita", "GNI", \
            "Startup Cost", "Startup Cost Pct of GNI", "Startup Time", "Startup Procedures", \
            "Business Regulation", "Ease of business") \
    .coalesce(1) \
    .write.csv('/home/jovyan/work/data/BusinessStartupData', mode='overwrite', header='true')

In [95]:
#Write the regional-yearly totals to a CSV File
regionalPivot.filter('region is not null') \
    .orderBy('region','year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select(col('region')
            , col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('/home/jovyan/work/data/RegionalStats', mode='overwrite', header='true')

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

##### Do all countries have 2 character country_iso_codes ?

In [78]:
countryCodeLengthQuery = """
select 
    length(country_iso_code) as column_length
    , count(1) as cnt
from 
    wdicountry
group by 
    length(country_iso_code)
having 
    count(1) > 1
"""

showDF(spark.sql(countryCodeLengthQuery))

   column_length  cnt
0              2  262

##### Do we have duplicate records for any of the key columns ?

In [79]:
targetcnt = wdicountryDim.count()
sourcecnt = wdicountry.count()

if targetcnt != sourcecnt :
    raise ValueError('Count is not matching with source')
else:
    print('Data quality check is passed')

Data quality check is passed

In [81]:
showDF(wdicountryDim.groupBy("country_iso_code").agg(count("*").alias("cnt")).filter("cnt > 1"))

showDF(wdicountryDim.groupBy("wb_country_code").agg(count("*").alias("cnt")).filter("cnt > 1"))

showDF(wdicountryDim.groupBy("country_name").agg(count("*").alias("cnt")).filter("cnt > 1"))

Empty DataFrame
Columns: [country_iso_code, cnt]
Index: []

Empty DataFrame
Columns: [wb_country_code, cnt]
Index: []

Empty DataFrame
Columns: [country_name, cnt]
Index: []

##### Any country with Country_iso_code is null?

In [82]:
wdicountryDimFinal = wdicountryDim.filter("country_iso_code is not null")

showDF(wdicountryDimFinal)

,country_iso_code,wb_country_code,country_name,country_long_name,region,income_group
0,AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
1,AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
2,AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
3,AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
4,AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
5,1A,ARB,Arab World,Arab World,None,None
6,AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
7,AR,ARG,Argentina,Argentine Republic,None,None
8,AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income
9,AS,ASM,American Samoa,American Samoa,East Asia & Pacific,Upper middle income
10,AG,ATG,Antigua and Barbuda,Antigua and Barbuda,Latin America & Caribbean,High income
11,AU,AUS,Australia,Commonwealth of Australia,East Asia & Pacific,High income
12,AT,AUT,Austria,Republic of Austria,Europe & Central Asia,High income
13,AZ,AZE,Azerbaijan,Republic of Azerbaijan,Europe & Central Asia,Upper middle income
14,BI,BDI,Burundi,Republic of Burundi,Sub-Saharan Africa,Low income
15,BE,BEL,Belgium,Kingdom of Belgium,Europe & Central Asia,High income
16,BJ,BEN,Benin,Republic of Benin,Sub-Saharan Africa,Low income
17,BF,BFA,Burkina Faso,Burkina Faso,Sub-Saharan Africa,Low income
18,BD,BGD,Bangladesh,People's Republic of Bangladesh,South Asia,Lower middle income
19,BG,BGR,Bulgaria,Republic of Bulgaria,Europe & Central Asia,Upper middle income

In [83]:
wdicountryDimFinal.count()

262

In [84]:
# You can iterate over a dataframe that is already computed by caching it onces and using it repeatedly
yrPivotDF.cache()

#Forces the data to be cached
yrPivotDF.count()

60

##### Do we have invalid records for any of the key population_age column ?

In [85]:
yrPivotDF.filter('population_age_0_to_14 < 0').count()

0

In [86]:
yrPivotDF.filter('population_age_15_64 < 0').count()

0

In [87]:
yrPivotDF.filter('population_age_0_to_14 < 0').count()

0

In [88]:
yrPivotDF.filter('population_age_65_and_above < 0').count()

0

In [89]:
yrPivotDF.filter('population < 0').count()

0

In [90]:
yrPivotDF.filter('cellular_subscriptions < 0').count()

0

In [91]:
yrPivotDF.filter('broadband_subscriptions < 0').count()

0

In [92]:
yrPivotDF.filter('population_age_0_to_14 > population').count()

0

In [93]:
yrPivotDF.filter('population_age_15_64 > population').count()

0

In [94]:
yrPivotDF.filter('population_age_65_and_above > population').count()

0

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

### The data is organized in the following five tables.

##### countryDim

#### This table contains details about all the countries information such as ISO country code, World Bank country code and income group that countries falls into

##### columns:
- country_iso_code : The ISO country codes are internationally recognized codes that designate every country and it is like an                      acronym, that stands for a country or a state.
- wb_country_code  : World Bank specific country code
- name	           : Name of the country
- long_name	       : Long Name of the country
- region	       : Region in which the country falls in in
- income_group	   : Income group of the country's people

##### countryStats

#### This table contains details about the total population count, age wise population count, number of broadband connections and cellular subscriptions by country

##### columns:
- country_iso_code           : The ISO country codes are internationally recognized codes that designate every country and itis                                like an acronym, that stands for a country or a state.
- country_name               : Name of the country
- year                       : Year for which the statistics belongs to
- population                 : Total population in the country
- population_age_0_to_14     : Population of the people age from 0 to 14
- population_age_15_64       : Population of the people age from 15 to 64
- population_age_65_and_above: Population of the people age above 65
- broadband_subscriptions    : Total number of broadband subscriptions in the country
- cellular_subscriptions     : Total number of cellular subscriptions

##### RegionalStats

#### This table contains same details as CountryStats but at the regional wise granularity instead of country wise

##### columns:
- region                     : Name of the region under which the countries falls into
- year                       : Year for which the statistics belongs to
- population                 : Total population in the country
- population_age_0_to_14     : Population of the people age from 0 to 14
- population_age_15_64       : Population of the people age from 15 to 64
- population_age_65_and_above: Population of the people age above 65
- broadband_subscriptions    : Total number of broadband subscriptions in the country
- cellular_subscriptions     : Total number of cellular subscriptions

##### YearlyStats

#### This table contains same details as CountryStats but at the year wise granularity instead of country wise

- year                       : Year for which the statistics belongs to
- population                 : Total population in the country
- population_age_0_to_14     : Population of the people age from 0 to 14
- population_age_15_64       : Population of the people age from 15 to 64
- population_age_65_and_above: Population of the people age above 65
- broadband_subscriptions    : Total number of broadband subscriptions in the country
- cellular_subscriptions     : Total number of cellular subscriptions

##### BusinessStartupData

#### This table contains details about the start up statistics of the countries along with GDP and GDP per capita details

- Country ISO Code         : The ISO country codes are internationally recognized codes that designate every country and itis                                like an acronym, that stands for a country or a state.
- Country Name             : Name of the country
- GDP                      : Gross Domestic Product. GDP is the final value of the goods and services produced within the                                    geographic boundaries of a country during a specified period of time, normally a year.
- GDP Per Capita           : GDP per capita, is a measure of a country's economic output that accounts for its number of                                    people.
- GNI                      : Gross national income (GNI), the sum of a country's gross domestic product (GDP) plus net income                                (positive or negative) from abroad.
- Startup Cost             : Cost of starting a new business in the country
- Startup Cost Pct of GNI  : Startup cost percentage compared to GNI
- Startup Time             : Time required for starting up a Business
- Startup Procedures       : Indicator denoting Procedures involved in Starting up a Business
- Business Regulation      : Indicator denoting Business regulation for starting up a Business
- Ease of business         : Indicator denoting ease of doing Business in the country

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 ##### The whole ETL pipeline can be configured to load the data in Amazon Redshift and built on Amazon EMR cluster
 - Redshift: Analytical database, optimized for aggregation, also good performance for read-heavy workloads
 - Increase EMR cluster size to handle bigger volume of data
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 ##### The ETL pipeline can be set up as Airflow DAGs and be triggered based on the SLA time
 - DAG is scheduled to run every 10 minutes and can be configured to run every morning at 7 AM if required.
 - Data quality operators are used at appropriate position. In case of DAG failures email triggers can be configured to let the    team know about pipeline failures.
 * The database needed to be accessed by 100+ people.
 - We can set the concurrency limit for your Amazon Redshift cluster. While the concurrency limit is 50 parallel queries for a    single period of time, this is on a per cluster basis, meaning you can launch as many clusters as fit for you business.
 ##### Spark for ETL
 - Spark helps data scientists by supporting the entire data science workflow, from data access and integration to machine        learning and visualization using the language of choiceâ€”which is typically Python. It also provides a growing library of        machine-learning algorithms through its machine-learning library (MLlib).
 ##### Pandas
 - Pandas is the most popular python library that is used for data analysis. It provides highly optimized performance with        back-end source code is purely written in C or Python.
   - We can analyze data in pandas with:
     - Series
     - DataFrames